---
title: About
hero: About Us
heroQuote: The essence of leadership is to make a difference in your sphere of influence.
hero_Quote_Cite: O O Isaac
hero_image: /images/couple.webp
description:
---

<!-- VISSION MISSION -->
<section class="visionMission item--full">
		<div class="sectionIntro contained-FirstTwo">
			<h2 class="sectionTitle priority2 editable">
				Transforming Nations<br /><span class="emphasis">by developing leaders</span>
			</h2>
			<p class="editable introduction">
				EMIT provides wholistic development of influential leaders, increasing their effectiveness to transform every segment of society.
			</p>
		</div>
		<div class="sectionContent contained-LastFour">
			<ul class="infoPoints">
				<li class="point">
					<span class="icon"><i data-feather="check-circle"></i></span>
					<h3 class="pointTitle editable">
						More than five hundred thousand leaders
					</h3>
					<p class="pointContent editable">
						530 000 leaders in 17 countries - each leader enlists a team of ten influencers.
					</p>
				</li>
				<li class="point">
					<span class="icon"><i data-feather="check-circle"></i></span>
					<h3 class="pointTitle editable">
						Reaching into remote areas
					</h3>
					<p class="pointContent editable">
						Proven longevity in the development of indigenous leaders reaches into the remotest areas of Africa.
					</p>
				</li>
				<li class="point">
					<span class="icon"><i data-feather="check-circle"></i></span>
					<h3 class="pointTitle editable">
						Impacting all spheres of society
					</h3>
					<p class="pointContent editable">
						Influential leaders from all spheres of society exposed to our material.
					</p>
				</li>
				<li class="point">
					<span class="icon"><i data-feather="check-circle"></i></span>
					<h3 class="pointTitle editable">
						27 years experience
					</h3>
					<p class="pointContent editable">
						We are experienced and effective at changing communities in Africa
					</p>
				</li>
				<li class="point">
					<span class="icon"><i data-feather="check-circle"></i></span>
					<h3 class="pointTitle editable">
						Multiplication impact
					</h3>
					<p class="pointContent editable">
						Our leaders develop at least 10 other leaders.
					</p>
				</li>
				<li class="point">
					<span class="icon"><i data-feather="check-circle"></i></span>
					<h3 class="pointTitle editable">
						Unique development model
					</h3>
					<p class="pointContent editable">
						Unique development model in 8 major languages
					</p>
				</li>
			</ul>
		</div>
</section>

<!-- MOTIVATION -->
<section class="motivation white item--full">
	<div class="sectionImage leftToCenter" style="background-image:url({{site.baseurl}}/images/Anna.webp);">
	</div>
	<div class="sectionIntro containedRight">
		<h2 class="sectionTitle priority1 editable">
			<span class="emphasis">IMAGINE</span><br />how her life can be<br /><span class="emphasis">TRANSFORMED</span>
		</h2>
		<p class="editable introduction">
			if we can equip<br />her decision-makers,<br />her role-models,<br />her leaders.
		</p>
		<hr class="seperationLine" />
		<p class="editable">
			Africa's leaders have the power to transform lives.
		</p>
		<div class="callToAction">
			<a href="{{site.baseurl}}/get-involved/" class="button">Get Involved</a>
			<a href="{{site.baseurl}}/donate/" class="button primary">Donate</a>
		</div>
	</div>
</section>

<!-- THE GOAL -->
<section class="goal item--full">
	<div class="sectionIntro contained-FirstTwo">
		<h2 class="sectionTitle priority2 editable">
			The <span class="emphasis">GOAL</span>
		</h2>
		<p class="editable introduction">
			EQUIPPED LEADERS who improve well-being within their spheres of impact.
		</p>
		<p class="editable">
			They are <span class="emphasis">mentors</span> that <span class="emphasis">multiply themselves</span> by imparting skills and life-changing values.
		</p>
		<div>
			{% assign thepost = site.posts | where:"title","Our Vision" %}
			{% include articleLink.html %}
		</div>
	</div>
	<div class="sectionContent contained-LastFour">
		<ul class="infoPoints">
			{% for program in site.programs %}
			<li data-cms-editor-link="cloudcannon:collections/_programs/" class="point cms-editor-link">
				<span class="icon"><i data-feather="target"></i></span>
				<h3 class="pointTitle">{{program.title}}</h3>
				<p class="pointContent">{{program.motivation}}</p>
			</li>
			{% endfor %}
		</ul>
	</div>
</section>


<!-- WHAT WE DO -->
<section class="item--full whatWeDo white">
	<div class="sectionImage leftToCenter" style="background-image:url({{site.baseurl}}/images/businessMan.webp);">test</div>
	<div class="container containedRight">
		<div>
			<h2 class="sectionTitle priority2 editable">
				<span class="emphasis">What</span> we do
			</h2>
			<p class="editable">
				By focusing on spiritual, character, leadership and professional skills development, we educate and inspire leaders in various pillars of society to become agents of change in their communities and nations.
			</p>
		</div>
		<div>
			<ul class="infoPoints">
				<li class="point">
					<span class="icon"><i data-feather="check-circle"></i></span>
					<h3 class="pointTitle editable">
						Purposeful Leadership
					</h3>
					<p class="pointContent editable">
						Our students are vibrant, dynamic and committed leaders with a passion for influencing and transforming their communities.
					</p>
				</li>
				<li class="point">
					<span class="icon"><i data-feather="check-circle"></i></span>
					<h3 class="pointTitle editable">
						Change Agents
					</h3>
					<p class="pointContent editable">
						We exist to bring about transformation in a continent that desperately needs new answers for old problems.
					</p>
				</li>
				<li class="point">
					<span class="icon"><i data-feather="check-circle"></i></span>
					<h3 class="pointTitle editable">
						Multiplication
					</h3>
					<p class="pointContent editable">
						When students enroll, we require them to identify at least ten leaders from their communities to mentor.
					</p>
				</li>
				<li class="point">
					<span class="icon"><i data-feather="check-circle"></i></span>
					<h3 class="pointTitle editable">
						Application
					</h3>
					<p class="pointContent editable">
						Our leadership programs are designed to support the practical application of knowledge in the African context.
					</p>
				</li>
			</ul>
		</div>
	</div>
</section>

<!-- REALTED LINKS - Two articles related to What we Do -->
<section class="item--full relatedLinksRow">
	<div class="containedLeft sectionContent">
		{% assign thepost = site.posts | where:"title","What we do" %}
		{% include articleLink.html %}
	</div>
	<div class="containedRight sectionContent">
		{% assign thepost = site.posts | where:"title","The Leader as an agent for positive change" %}
		{% include articleLink.html %}
	</div>
</section>

<!-- HOW WE DO IT -->
<section class="howWeDoIt item--full white">
	<div class="sectionIntro containedLeft">
		<h2 class="sectionTitle priority2 editable">
			<span class="emphasis">How</span> we do it
		</h2>
		<p class="editable introduction">
			A <span class="emphasis">NETWORK OF INFLUENCERS</span> reaching into the remotest areas of Africa
		</p>
		<p class="editable">
			The EMIT strategy is unique, and IT WORKS! We developed an indigenous curriculum for leaders within different spheres of influence. Our material encompasses three main areas:
		</p>
		<p class="editable">
			- Spiritual and character development<br />- Leadership development<br />- Professional Skills development
		</p>
		{% assign thepost = site.posts | where:"title","How we do it" %}
		{% include articleLink.html %}
	</div>
	<div class="sectionImage centerToRight" style="background-image:url({{site.baseurl}}/images/meetingUnderTree.webp);">
	</div>
</section>

<!-- HOW WE DO IT - POINTS -->
<section class="howWeDoItPoints item--full">
	<div class="sectionContent">
		<ul class="infoPoints col-1-1-1">
			<li class="point">
				<span class="icon"><i data-feather="info"></i></span>
				<h3 class="pointTitle editable">
					Understanding influence
				</h3>
				<p class="pointContent editable">
					Understanding that all leaders have influence is the foundation of the EMIT strategy. All leaders can inspire others to action and change.
				</p>
			</li>
			<li class="point">
				<span class="icon"><i data-feather="user-check"></i></span>
				<h3 class="pointTitle editable">
					Believe in the indigenous leader
				</h3>
				<p class="pointContent editable">
					The indigenous leader is at the center of the solution for the problems of Africa. Africa doesn&rsquo;t need charity - she needs quality leaders.
				</p>
			</li>
			<li class="point">
				<span class="icon"><i data-feather="map-pin"></i></span>
				<h3 class="pointTitle editable">
					Indigenous training facility
				</h3>
				<p class="pointContent editable">
					EMIT was birthed in Africa by Africans. More than 90% of our training faculty is African - our teachers understand the continent and its people. They teach from personal experience.
				</p>
			</li>
			<li class="point">
				<span class="icon"><i data-feather="message-circle"></i></span>
				<h3 class="pointTitle editable">
					Changing the narrative
				</h3>
				<p class="pointContent editable">
					Africa is rising. To an outside observer, the change may seem slow, but to us on the ground, it is becoming continuously more and more evident that something radical is happening. This change that we initiated has a life of its own. We are picking up speed! Africa is rewriting her narrative as the continent of opportunity.
				</p>
			</li>
			<li class="point">
				<span class="icon"><i data-feather="file-text"></i></span>
				<h3 class="pointTitle editable">
					Unique Curriculum
				</h3>
				<p class="pointContent editable">
					The EMIT curriculum has been developed over almost 30 years by Africans. It demonstrates an understanding of the African culture, people and challenges. We approach these with clarity and wisdom. The curriculum addresses the complete person by focussing on spiritual, character, leadership and skills development.
				</p>
			</li>
			<li class="point">
				<span class="icon"><i data-feather="share-2"></i></span>
				<h3 class="pointTitle editable">
					Multiplication Impact
				</h3>
				<p class="pointContent editable">
					EMIT students are required to multiply themselves by enlisting at least ten other leaders and equipping them with the same training-material. This multiplication-methodology impacts communities that would otherwise be far beyond the reach of conventional training institutions.
				</p>
			</li>
			<li class="point">
				<span class="icon"><i data-feather="users"></i></span>
				<h3 class="pointTitle editable">
					Taking responsibility
				</h3>
				<p class="pointContent editable">
					Change must come from within. We challenge our leaders to take responsibility to implement change and not become dependent on external support.
				</p>
			</li>
			<li class="point">
				<span class="icon"><i data-feather="globe"></i></span>
				<h3 class="pointTitle editable">
					Huge footprint
				</h3>
				<p class="pointContent editable">
					EMIT has trained over 530 000 leaders in 27 years. We are an established brand with a proven impact for change in communities across the continent.
				</p>
			</li>
			<li class="point">
				<span class="icon"><i data-feather="award"></i></span>
				<h3 class="pointTitle editable">
					27 years of experience
				</h3>
				<p class="pointContent editable">
					EMIT has proven longevity in training leaders in Africa, giving us an advantage over others that have little or no knowledge of the continent, its culture, diversity, and challenges.
				</p>
			</li>
		</ul>
	</div>
</section>

<!-- VIDEO PLAYER -->
<section class="videoPlayer sectionImage item--full" style="background-image:url({{site.baseurl}}/images/videoBG.webp);">
	<a class="container no-padding" data-lbxp-video href="{{ site.baseurl }}/video/BB-EMIT-30s_x264.mp4">
		<span class="editable">It's Working</span>
		<span class="icon"><i data-feather="play-circle"></i></span>
		<span class="editable">Watch!</span>
	</a>
</section>

<!-- IT'S WORKING -->
<section class="itsWorking white item--full">
	<div class="containedLeft">
		<img src="{{site.baseurl}}/images/smilingAnnaInAfrica.webp" alt="" />
	</div>
	<div class="sectionIntro containedRight">
		<h2 class="sectionTitle priority1 editable">
			17 COUNTRIES<br /><span class="emphasis">8 LANGUAGES</span><br />530 000 STUDENTS
		</h2>
		<hr class="seperationLine" />
		<p class="editable">
			Longevity is a rare asset in a world and culture that rapidly and frequently changes. EMIT started its operations more than 27 years ago in Zambia and Malawi. Over the next 27 years it grew to the benchmark of training leaders on the continent. Currently operating in 17 African countries, EMIT reaches more than 23 000 leaders with its unique and culturally relevant curricula per year. Serving leaders from all spheres of society with skills needed to bring positive societal change, is at the core of EMIT&rsquo;s vision.
		</p>
		<p class="editable">
			With more than 530 000 leaders already exposed to the transformative training materials, EMIT is preparing itself to increase its impact to other spheres of impact.&nbsp;
		</p>
		<p class="editable introduction">
			EXPLORE THE TRANSFORMATION STORIES!
		</p>
		<div class="callToAction">
			<a href="{{site.baseurl}}/articles/" class="button">Explore</a>
			<a href="{{site.baseurl}}/donate/" class="button primary">Donate</a>
		</div>
	</div>
</section>

<!-- 4 TRANSFORMATION STORIES -->
<section class="item--contained transformationStories">
	<div class="container storiesList">
		{% assign featured = site.posts | where:"category","Transformation Stories" %}
		{% assign distance = 5 %}
		{% for post in featured limit:4 %}
		{% include postPreview.html %}
		{% endfor %}
	</div>
</section>

<!-- FULL WIDTH CALL TO ACTION BUTTON -->
<section class="ctaFeatured item--full dark">
	<div class="container no-padding">
		<a href="/donate/" class="callToAction editable">
			YOU CAN BE THE CHANGE: GET INVOLVED
		</a>
	</div>
</section>

<!-- SONYA TODO: COUNTERS -->
<section class="counters">
	<div class="container counterwrap no-padding">
		<div class="count">
			<span data-target="22575" class="number editable">
				22 575
			</span>
			<span class="description editable">
				Leaders currently in training
			</span>
		</div>
		<div class="count">
			<span data-target="17" class="number editable">
				17
			</span>
			<span class="description editable">
				Countries we are serving
			</span>
		</div>
		<div class="count">
			<span data-target="83" class="number editable">
				83
			</span>
			<span class="description editable">
				Number of Projects
			</span>
		</div>
		<div class="count">
			<span data-target="125697" class="number editable">&nbsp; &nbsp; 470 368&nbsp; &nbsp;&nbsp;</span>
			<span class="description editable">
				Number of Graduates
			</span>
		</div>
	</div>
</section>

<!-- PARTNERS -->
<section class="partners white item--full">
		<div class="sectionContent containedLeft">
			<ul class="partnerLogos">
				<!-- For each partner in data file -->
				{% for item in site.data.partners %}
					<!-- Assign the image, urltext and url -->
					{% assign name = item.name %}
					{% assign image = item.partner_image %}
					{% assign url = item.websiteUrl %}
					{% assign urlText = "Read more on their website" %}
					{% assign description = item.description %}
					<li class="cms-editor-link" data-cms-editor-link="cloudcannon:collections/_data/partners.yml">
						<span class="modalBtn">
							<img src="{{site.baseurl}}{{item.partner_image}}" alt="{{item.name}}" />
						</span>
						<div class="modal">
							<div class="modalContent">
								{% include moreInfoPopup.html %}
							</div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="sectionIntro containedRight">
			<h2 class="editable sectionTitle priority3">
				Partners &amp; Accreditations
			</h2>
			<p class="editable">
				Paragraph describing EMIT's relationship with their partners and accreditations. The purpose of this section is to demonstrate: "They trust us - so can you".
			</p>
		</div>
</section>


<!-- SONYA: TODO: SUBSCRIBE CONSTANT CONTACT -->
<!-- <section class="subscribe item--contained">
	<div class="container">
		<div class="sectionContent">
			<span class="modalBtn">
				Don't miss out - join our mailing list!
			</span>
			<div class="modal">
				Begin Constant Contact Inline Form Code
				<div class="ctct-inline-form modalContent" data-form-id="00a8e79c-f158-4507-981c-097e23391cd9"></div>
				End Constant Contact Inline Form Code
			</div>
		</div>
	</div>
</section> -->

<!-- ADDRESS USA -->
<section class="item--full contactRow">
	<div class="container addressRow">
		<div data-cms-editor-link="cloudcannon:collections/_data/contacts.yml" class="address contactBlock cms-editor-link">
			<span class="icon"><i data-feather="map"></i></span>
			{% assign address = site.data.contacts[1] %}
			<div class="addresses">
				<h5>{{ address.name }}</h5>
				<p>{{ address.postal }}</p>
			</div>
		</div>
		<div data-cms-editor-link="cloudcannon:collections/_data/contacts.yml" class="address contactBlock cms-editor-link">
			<span class="icon"><i data-feather="map-pin"></i></span>
			{% assign address = site.data.contacts[1] %}
			<div class="addresses">
				<h5>COLORADO</h5>
				<p>{{ address.address }}</p>
			</div>
		</div>
		<div data-cms-editor-link="cloudcannon:collections/_data/contacts.yml" class="email contactBlock cms-editor-link">
			<span class="icon"><i data-feather="mail"></i></span>
			<div class="addresses">
				<h5>EMAIL</h5>
				<p>{{ address.email }}</p>
			</div>
		</div>
		<div data-cms-editor-link="cloudcannon:collections/_data/contacts.yml" class="phone contactBlock cms-editor-link">
			<span class="icon"><i data-feather="smartphone"></i></span>
			<div class="addresses">
				<h5>PHONE</h5>
				<p>{{ address.phone }}</p>
			</div>
		</div>
	</div>
</section>
<!-- ADDRESS SA -->
<section class="item--full white contactRow">
	<div class="container addressRow">
		<div data-cms-editor-link="cloudcannon:collections/_data/contacts.yml" class="address contactBlock cms-editor-link">
			<span class="icon"><i data-feather="map"></i></span>
			{% assign address = site.data.contacts[0] %}
			<div class="addresses">
				<h5>{{ address.name }}</h5>
				<p>{{ address.postal }}</p>
			</div>
		</div>
		<div data-cms-editor-link="cloudcannon:collections/_data/contacts.yml" class="address contactBlock cms-editor-link">
			<span class="icon"><i data-feather="map-pin"></i></span>
			<div class="addresses">
				<h5>SPRINGS</h5>
				<p>{{ address.address }}</p>
			</div>
		</div>
		<div data-cms-editor-link="cloudcannon:collections/_data/contacts.yml" class="email contactBlock cms-editor-link">
			<span class="icon"><i data-feather="mail"></i></span>
			<div class="addresses">
				<h5>EMAIL</h5>
				<p>{{ address.email }}</p>
			</div>
		</div>
		<div data-cms-editor-link="cloudcannon:collections/_data/contacts.yml" class="phone contactBlock cms-editor-link">
			<span class="icon"><i data-feather="smartphone"></i></span>
			<div class="addresses">
				<h5>PHONE</h5>
				<p>{{ address.phone }}</p>
			</div>
		</div>
	</div>
</section>

<!-- MAP -->
<section class="item--full googleMapWrap dark">
	<div id="map-canvas" class="max-content" style="width:100%; height:100%"></div>
</section>

<script src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps_javascript_api_key }}"></script>
<script>
	{% assign locations = site.data.contacts %}
	var emitIcon = {
		url: "{{ site.baseurl }}/images/interface/mapMarker.svg",
		size: new google.maps.Size(30, 30),
		scaledSize: new google.maps.Size(30, 30)
	}
	function initializeMap() {
		var bounds = new google.maps.LatLngBounds(),
		mapOptions = {
			scrollwheel: false,
			draggable: true,
			panControl: false,
			disableDefaultUI: true,
			rotateControl: true,
			tilt: 45,
			mapTypeId: "satellite",
		};
		var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		map.setTilt(45);
		var infowindow = new google.maps.InfoWindow();
		// Start loop through stories / create markers
		{% for location in locations %}
			var position = new google.maps.LatLng({{location.latitude}}, {{location.longitude}});
			{% assign teamMember = site.data.team-members | where:"name", location.team-member | first  %}
			bounds.extend(position);
			var marker = new google.maps.Marker({
				icon: emitIcon,
				position: position,
				map: map,
				title: "{{location.title}}",
				optimized: false
			});
			google.maps.event.addListener(marker, 'click', (function(marker) {
				return function() {
					infowindow.setContent("<div class='infoWrap'><div class='locationInfo'><h4>{{location.name}}</h4><p>Contact Person: {{location.team-member}} in {{location.country}}<br><a href='mailto:{{location.email}}'>{{location.email}}</a></p></div><div class='locationImage' style='background-image:url({{teamMember.profile_image}});'><a href='mailto:{{location.email}}'><div class='mapsphere2'><div class='mapsphere1'><svg width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-mail'><path d='M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z'></path><polyline points='22,6 12,13 2,6'></polyline></svg></div></div></a></div></div>");
					infowindow.open(map, marker);
				}
			})(marker));
			map.fitBounds(bounds);
		{% endfor %}
		// End loop through stories / create markers
		var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
			this.setZoom(3);
			google.maps.event.removeListener(boundsListener);
		});
		var myoverlay = new google.maps.OverlayView();
		myoverlay.draw = function () {
			this.getPanes().markerLayer.id='markerLayer';
		};
		myoverlay.setMap(map);
	}
	google.maps.event.addDomListener(window, 'load', initializeMap);
</script>

<!-- Begin Constant Contact Active Forms -->
<!-- <script> var _ctct_m = "bdb6a5326cc823e3f9b32170b57a3c36"; </script> -->
<!-- <script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script> -->
<!-- End Constant Contact Active Forms -->
