---
title: About
hero: About Us
heroImage: couple.webp
subtitle: What we do and how we do it
---

<div class="page about">
	<!-- VISSION MISSION -->
	<section class="pageSection visionMission">
		<div class="container col-2-3">
			<div class="sectionIntro">
				<h2 class="sectionTitle priority2 editable">Transforming Nations<br><span class="emphasis">by developing leaders</span></h2>
				<p class="editable introduction">EMIT provides wholistic development of influential leaders, increasing their effectiveness to transform every segment of society.</p>
			</div>
			<div class="sectionContent">
				<ul class="infoPoints">
					<li class="point">
						<span class="icon"><i data-feather="check-circle"></i></span>
						<h3 class="pointTitle editable">OVER A MILLION LEADERS</h3>
						<p class="pointContent editable">470 000 leaders in 17 countries - each leader enlists a team of ten influencers.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="check-circle"></i></span>
						<h3 class="pointTitle editable">REACHING INTO REMOTE AREAS</h3>
						<p class="pointContent editable">Proven longevity in the development of indigenous leaders reaches into the remotest areas of Africa.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="check-circle"></i></span>
						<h3 class="pointTitle editable">IMPACTING ALL SPHERES OF SOCIETY</h3>
						<p class="pointContent editable">Influential leaders from all spheres of society exposed to our material.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="check-circle"></i></span>
						<h3 class="pointTitle editable">27 YEARS EXPERIENCE</h3>
						<p class="pointContent editable">We are experienced and effective at changing communities in Africa</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="check-circle"></i></span>
						<h3 class="pointTitle editable">MULTIPLICATION IMPACT</h3>
						<p class="pointContent editable">Our leaders develop at least 10 other leaders.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="check-circle"></i></span>
						<h3 class="pointTitle editable">UNIQUE DEVELOPMENT MODEL</h3>
						<p class="pointContent editable">Unique development model in 8 major languages</p>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<!-- MOTIVATION -->
	<section class="pageSection motivation">
		<div class="container max-container">
			<div class="sectionImage" style="background-image:url({{site.baseurl}}/images/Anna.webp);">
			</div>
			<div class="sectionIntro">
				<h2 class="sectionTitle priority1 editable"><span class="emphasis">IMAGINE</span><br>how her life can be<br><span class="emphasis">TRANSFORMED</span></h2>
				<p class="editable introduction">if we can equip <br>her decision-makers, <br>her role-models, <br>her leaders.</p>
				<hr class="seperationLine">
				<p class="editable">Africa's leaders have the power to transform lives.</p>
				<div class="callToAction">
					<a href="{{site.baseurl}}/get-involved/" class="button">Get Involved</a>
					<a href="{{site.baseurl}}/donate/" class="button primary">Donate</a>
				</div>
			</div>
		</div>
	</section>

	<!-- THE GOAL -->
	<section class="pageSection goal">
		<div class="container col-2-3">
			<div class="sectionIntro">
				<h2 class="sectionTitle priority2 editable">The <span class="emphasis">GOAL</span></h2>
				<p class="editable introduction">EQUIPPED LEADERS who improve well-being within their spheres of impact.</p>
				<p class="editable">They are <span class="emphasis">mentors</span> that <span class="emphasis">multiply themselves</span> by imparting skills and life-changing values.</p>
				{% assign thepost = site.posts | where:"title","Our Vision" %}
				{% include articleLink.html %}
			</div>
			<div class="sectionContent">
				<ul class="infoPoints">
					{% for program in site.programs %}
					<li class="point">
						<span class="icon"><i data-feather="target"></i></span>
						<h3 class="pointTitle">{{program.title}}</h3>
						<p class="pointContent">{{program.motivation}}</p>
					</li>
					{% endfor %}
				</ul>
				<div class="callToAction">
					<a href="cloudcannon:collections/_programs/" class="editor-link button edit">
						<span class="icon"><i data-feather="edit-2"></i></span>
						<div class="tooltip">
							<div class="tooltipcontent editor">
								<div class="message">Click to edit the list of programs. This list is a bit like a database - any edits you make will update all program occurences across the entire site</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- WHAT WE DO -->
	<section class="pageSection whatWeDo">
		<div class="container max-container col-2-3">
			<div class="sectionImage" style="background-image:url({{site.baseurl}}/images/businessMan.webp);">
			</div>
			<div class="sectionIntro">
				<h2 class="sectionTitle priority2 editable"><span class="emphasis">What</span> we do</h2>
				<p editable>By focusing on spiritual, character, leadership and professional skills development, we educate and inspire leaders in various pillars of society to become agents of change in their communities and nations.</p>
				<div class="relatedArticles">
					{% assign thepost = site.posts | where:"title","What we do" %}
					{% include articleLink.html %}

					{% assign thepost = site.posts | where:"title","Purposeful Leadership" %}
					{% include articleLink.html %}
				</div>
				<ul class="infoPoints">
					<li class="point">
						<span class="icon"><i data-feather="check-circle"></i></span>
						<h3 class="pointTitle editable">Purposeful Leadership</h3>
						<p class="pointContent editable">Our students are vibrant, dynamic and committed leaders with a passion for influencing and transforming their communities. Read the article: Purposeful Leadership</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="check-circle"></i></span>
						<h3 class="pointTitle editable">Change Agents</h3>
						<p class="pointContent editable">We exist to bring about transformation in a continent that desperately needing new answers for old problems.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="check-circle"></i></span>
						<h3 class="pointTitle editable">Multiplication</h3>
						<p class="pointContent editable">When students enroll, we require them to identify at least ten leaders from their communities to mentor.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="check-circle"></i></span>
						<h3 class="pointTitle editable">Application</h3>
						<p class="pointContent editable">Our leadership programs are designed to support the practical application of knowledge in the African context.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<!-- HOW WE DO IT -->
	<section class="pageSection howWeDoIt">
		<div class="container max-container col-2-3">
			<div class="sectionIntro">
				<h2 class="sectionTitle priority2 editable"><span class="emphasis">How</span> we do it</h2>
				<p class="editable introduction">A <span class="emphasis">NETWORK OF INFLUENCERS</span> reaching into the remotest areas of Africa</p>
				<p class="editable">The EMIT strategy is unique, and IT WORKS! We developed an indigenous curriculum for leaders within different spheres of influence. Our material encompasses three main areas:</p>
				<p class="editable">
					- Spiritual and character development
					<br>- Leadership development
					<br>- Professional Skills development
				</p>
				{% assign thepost = site.posts | where:"title","How we do it" %}
				{% include articleLink.html %}
			</div>
			<div class="sectionImage" style="background-image:url({{site.baseurl}}/images/meetingUnderTree.webp);">
			</div>
		</div>
	</section>

	<!-- HOW WE DO IT - POINTS -->
	<section class="pageSection howWeDoItPoints">
		<div class="container max-container max-content">
			<div class="sectionContent">
				<ul class="infoPoints col-1-1-1">
					<li class="point">
						<span class="icon"><i data-feather="info"></i></span>
						<h3 class="pointTitle editable">Understanding infuence</h3>
						<p class="pointContent editable">Understanding that all leaders have influence is the foundation of the EMIT strategy. All leaders can inspire others to action and change.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="user-check"></i></span>
						<h3 class="pointTitle editable">Believe in the indigenous leader</h3>
						<p class="pointContent editable">The indigenous leader is at the center of the solution for the problems of Africa. Africa doesn’t need charity - she needs quality leaders.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="map-pin"></i></span>
						<h3 class="pointTitle editable">Indigenous training facility</h3>
						<p class="pointContent editable">EMIT was birthed in Africa by Africans. More than 90% of our training faculty is African - our teachers understand the continent and its people. They teach from personal experience.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="message-circle"></i></span>
						<h3 class="pointTitle editable">Changing the narrative</h3>
						<p class="pointContent editable">Africa is rising. To an outside observer, the change may seem slow, but to us on the ground, it is becoming continuously more and more evident that something radical is happening. This change that we initiated has a life of its own. We are picking up speed! Africa is rewriting her narrative as the continent of opportunity.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="file-text"></i></span>
						<h3 class="pointTitle editable">Unique Curriculum</h3>
						<p class="pointContent editable">The EMIT curriculum has been developed over almost 30 years by Africans. It demonstrates an understanding of the African culture, people and challenges. We approach these with clarity and wisdom. The curriculum addresses the complete person by focussing on spiritual, character, leadership and skills development.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="share-2"></i></span>
						<h3 class="pointTitle editable">Multiplication Impact</h3>
						<p class="pointContent editable">EMIT students are required to multiply themselves by enlisting at least ten other leaders and equipping them with the same training-material. This multiplication-methodology impacts communities that would otherwise be far beyond the reach of conventional training institutions.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="users"></i></span>
						<h3 class="pointTitle editable">Taking responsibility</h3>
						<p class="pointContent editable">Change must come from within. We challenge our leaders to take responsibility to implement change and not become dependent on external support.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="globe"></i></span>
						<h3 class="pointTitle editable">Huge footprint</h3>
						<p class="pointContent editable">EMIT has trained over 450 000 leaders in 27 years. We are an established brand with a proven impact for change in communities across the continent.</p>
					</li>
					<li class="point">
						<span class="icon"><i data-feather="award"></i></span>
						<h3 class="pointTitle editable">27 years of experience</h3>
						<p class="pointContent editable">EMIT has proven longevity in training leaders in Africa, giving us an advantage over others that have little or no knowledge of the continent, its culture, diversity, and challenges.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<!-- VIDEO PLAYER -->
	<section class="pageSection videoPlayer sectionImage" style="background-image:url({{site.baseurl}}/images/videoBG.webp);">
		<a class="container" data-lbxp-video href="{{ site.baseurl }}/video/BB-EMIT-30s_x264.mp4">
				<span>It's Working</span>
				<span class="icon"><i data-feather="play-circle"></i></span>
				<span>Watch!</span>
		</a>
	</section>

	<!-- IT'S WORKING -->
	<section class="pageSection motivation">
		<div class="container">
			<div class="sectionImage contain" style="background-image:url({{site.baseurl}}/images/smilingAnnaInAfrica.webp);">
			</div>
			<div class="sectionIntro">
				<h2 class="sectionTitle priority1 editable">17 COUNTRIES<br><span class="emphasis">8 LANGUAGES</span><br>470 000 STUDENTS</h2>
				<hr class="seperationLine">
				<p class="editable">Paragraph describing EMIT's traction.Convallis voluptates, consequat convallis veritatis fugit posuere expedita semper? Placerat nibh libero aliqua sapiente exercitation. </p>
				<p class="editable">Magnam voluptas libero expedita possimus, vitae, cumque ab voluptate quisquam quibusdam, magnam? Interdum consequuntur fugiat, consequuntur, maiores suscipit, architecto lobortis.</p>
				<p class="editable introduction">
					EXPLORE THE TRANSFORMATION STORIES!
				</p>
				<div class="callToAction">
					<a href="{{site.baseurl}}/articles/" class="button">Explore</a>
					<a href="{{site.baseurl}}/donate/" class="button primary">Donate</a>
				</div>
			</div>
		</div>
	</section>

	<!-- 3 TRANSFORMATION STORIES -->
	<section class="pageSection featuredStories">
		<div class="container col-1-1-1">
			{% assign featured = site.posts | where:"category","Transformation Stories" %}
				{% for post in featured %}
				{% include featuredPost.html %}
			{% endfor %}
		</div>
	</section>

	<!-- FULL WIDTH CALL TO ACTION BUTTON -->
	<section class="pageSection ctaFeatured">
		<div class="container max-container max-content">
			<a href="{{ site.baseurl }}/donate/" class="callToAction editable">
				YOU CAN BE THE CHANGE: GET INVOLVED
			</a>
		</div>
	</section>

	<!-- COUNTERS -->
	<section class="pageSection counters">
		<div class="container col-1-1-1-1">
			<div class="count">
				<span id="count1" class="number editable">
					22575
				</span>
				<span class="description editable">
					Leaders currently in training
				</span>
			</div>
			<div class="count">
				<span class="number editable">
					17
				</span>
				<span class="description editable">
					Countries we are serving
				</span>
			</div>
			<div class="count">
				<span class="number editable">
					83
				</span>
				<span class="description editable">
					Number of Projects
				</span>
			</div>
			<div class="count">
				<span class="number editable">
					125697
				</span>
				<span class="description editable">
					Number of Graduates
				</span>
			</div>
		</div>
	</section>

	<!-- PARTNERS -->
	<section class="pageSection partners">
		<div class="container col-3-2">
			<div class="sectionContent">
				<ul class="partnerLogos">
					<!-- For each partner in data file -->
					{% for item in site.data.partners %}
						<!-- Assign the image, urltext and url -->
						{% assign name = item.name %}
						{% assign image = item.partner_image %}
						{% assign url = item.websiteUrl %}
						{% assign urlText = "Read more on their website" %}
						{% assign description = item.description %}
						<li>
							<span class="modalBtn">
								<img src="{{site.baseurl}}{{item.partner_image}}" alt="{{item.name}}">
							</span>
							<div class="modal">
								<div class="modalContent">
									{% include moreInfoPopup.html %}
								</div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="sectionIntro">
				<h2 class="editable sectionTitle priority3">PARTNERS & ACCREDITATIONS</h2>
				<p class="editable">Paragraph describing EMIT's relationship with their partners and accreditations. The purpose of this section is to demonstrate: "They trust us - so can you".</p>
				<div class="callToAction">
					<a href="cloudcannon:collections/_data/partners.yml" class="editor-link button edit">
						<span class="icon"><i data-feather="edit-2"></i></span>
						<div class="tooltip">
							<div class="tooltipcontent editor">
								<div class="message">Click to edit the list of partners.</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<!-- SUBSCRIBE MAILCHIMP -->
	<!-- TO DO: Fix the form field colors -->
	<!-- TO DO: Self hosted success page - setting on mailchimp -->
	<section class="pageSection subscribe">
		<div class="container max-content">
			<div class="sectionContent">
				<!-- Begin Mailchimp Signup Form -->
				<!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->
				<div id="mc_embed_signup">
					<form action="https://global.us2.list-manage.com/subscribe/post?u=17780da15e3762d5989e69ce1&amp;id=ac79839624" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll" class="materialForm">
							<!-- Email -->
							<div class="mc-field-group form-group">
								<input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL" required="required">
								<label for="mce-EMAIL" class="control-label">Email Address </label><i class="bar"></i>
							</div>
							<!-- Name -->
							<div class="mc-field-group form-group">
								<input type="text" value="" name="FNAME" class="" id="mce-FNAME" required="required">
								<label class="control-label" for="mce-FNAME">First Name </label><i class="bar"></i>
							</div>
							<!-- Surname -->
							<div class="mc-field-group form-group">
								<input type="text" value="" name="LNAME" class="" id="mce-LNAME" required="required">
								<label class="control-label" for="mce-LNAME">Last Name </label><i class="bar"></i>
							</div>
							<!-- Error stuff? -->
							<div id="mce-responses" class="clear" style="display: none;">
								<div class="response" id="mce-error-response" style="display:none"></div>
								<div class="response" id="mce-success-response" style="display:none"></div>
							</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_17780da15e3762d5989e69ce1_ac79839624" tabindex="-1" value=""></div>
							<!-- Submit -->
							<div class="button-container clear">
								<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button primary">
							</div>

						</div>
					</form>
				</div>
				<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
				<!--End mc_embed_signup-->
			</div>
		</div>
	</section>

	<!-- ADDRESSES -->
	<section class="pageSection">
		<div class="container col-1-1-1">
			<div class="sectionContent">
				Address
			</div>
			<div class="sectionContent">
				Email
			</div>
			<div class="sectionContent">
				Phone
			</div>
		</div>
	</section>

	<!-- MAP -->
	<section class="pageSection map">
		<div class="container max-container max-content">
			<!-- 10 Sinclair Road, Selection Park, Springs, 1560 -->
			{% google_map
				width="100%"
				height="500"
				zoom="15"
				latitude= "-26.273030"
  				longitude= "28.440429"
				styles="dark"
				marker_icon="/images/interface/mapMarker.png"
				marker_title="<span>EMIT Office in SA</span><span>10 Sinclair Road<br>Selection Park<br>Springs</span>"
				marker_url="https://goo.gl/maps/fzAtpWu6GWeBrZZ38" %}
		</div>
	</section>

</div>