---
title: Board
hero: EMIT Board of Directors
heroQuote: A leader who produces other leaders multiplies their influences.
hero_Quote_Cite: John C Maxwell
hero_image: /images/girl-leader-helps-brother-learn.webp
customHeroPosition: center 25%
description:
---

<!-- INTRO -->
<section class="item--full">
    <div class="sectionIntro contained-FirstTwo">
        <h2 class="sectionTitle priority2 editable">
        	Our board<br />of <span class="emphasis">directors</span>
        </h2>
        <p class="editable introduction">
        	
        </p>
    </div>
    <div class="sectionContent contained-LastFour">
        <p class="editable">
        	The role of the Board in governing a non-profit organization cannot be overestimated. The Board makes the difference between a good non-profit and a great one. The Board supports, encourages and inspires greatness in the organization. &nbsp;<br /><br />Board members set corporate policies and goals and delegate authority to the CEO to implement such policies and goals in the day-to-day management of EMIT. The Board members are also trustees of EMIT who approve an annual budget that ensures it can meet its financial needs. In addition, the board members monitor the overall financial health of EMIT by reviewing annual reports of an auditor.&nbsp;&nbsp;
        </p>
        <p class="editable">
        	Emit is priveliged to have very effective and involved Boards in the USA and South Africa. Emit also have a Global Board that is represented by members of member countries. Global Board members oversee the maintaining of standards, policies and procedures of EMIT globally.&nbsp;
        </p>
    </div>
</section>
<!-- SECTION LIST OF MEMBERS -->
<section class="teamList item--full white">
    <ul class="sectionContent">
        {% for teamMember in site.data.team-members%}
            <!-- if group is team -->
            {% if teamMember.group contains "board" %}
            <li data-cms-editor-link="cloudcannon:collections/_data/team-members.yml" class="cms-editor-link">
                {% include teamMemberPreview.html %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</section>
