---
title: Board
hero: EMIT Board of Directors
heroQuote: A leader who produces other leaders multiplies their influences.
hero_Quote_Cite: John C Maxwell
hero_image: /images/girl-leader-helps-brother-learn.webp
customHeroPosition: "center 25%"
---

<!-- INTRO -->
<section class="item--full">
    <div class="sectionIntro contained-FirstTwo">
        <h2 class="sectionTitle priority2 editable">Our board<br>of <span class="emphasis">directors</span></h2>
        <p class="editable introduction">THE EMIT board of directors paragraph about who they are.</p>
    </div>
    <div class="sectionContent contained-LastFour">
        <p class="editable">Paragraph about the board of directors. Their expertise and how they were formed.  Non illo molestiae tortor, nemo officia, quo nibh deleniti? Neque velit? Voluptatem? Mauris? Suscipit error, nemo ullamcorper class eum rerum nesciunt, incidunt leo primis senectus, pulvinar enim nascetur perspiciatis iste adipiscing do provident curae iaculis quibusdam eiusmod leo numquam augue.</p>
        <p class="editable">Ipsam duis parturient architecto consectetuer incidunt id cum curabitur similique wisi fusce repellat, elementum, quas, cubilia. Possimus, habitant, risus ratione? Placeat voluptates posuere natus et. Fugiat nostrum magna, eleifend diamlorem! Nostrud sociosqu fusce officia egestas nascetur commodi magnam delectus nobis.</p>
    </div>
</section>
<!-- SECTION LIST OF MEMBERS -->
<section class="teamList item--full white">
    <ul class="sectionContent">
        {% for teamMember in site.data.team%}
            <!-- if group is team -->
            {% if teamMember.group == "board" %}
            <li data-cms-editor-link="cloudcannon:collections/_data/team.yml" class="cms-editor-link">
                {% include teamMemberPreview.html %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</section>