---
title: Donate
hero: Donate
heroQuote: Vision is the art of seeing what is invisible to others.
hero_Quote_Cite: Jonathan Swift
hero_image: /images/TwoGirls.webp
---

<section>
	<div class="container">
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_products" class="btn"><strong>&#9998;</strong> Manage products</a></p>
			<ul class="product-list">
				{% for product in site.products %}
					<li>
						<ul class="links">
							<a href="https://facebook.com"><i data-feather="twitter"></i></a>
							<a href="https://twitter.com"><i data-feather="facebook"></i></a>
							<a href="https://linkedin.com"><i data-feather="linkedin"></i></a>
						</ul>
						{% include product-styles.html product=product %}
						<div class="product-details">
							<h4><a href="{{ product.url }}">{{ product.name }}</a></h4>
							<div class="product-description">
								{{ product.description_markdown | truncate: 45 | markdownify }}
							</div>
							<p class="productPrice">${{ product.price }}</p>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</section>
