---
title: Donate
hero: Donate
heroQuote: Vision is the art of seeing what is invisible to others.
hero_Quote_Cite: Jonathan Swift
hero_image: /images/TwoGirls.webp
description:
---

<!-- DONATION INTRO -->
<section class="item--full white donationIntro">
	<div class="sectionIntro contained-FirstTwo">
		<h2 class="sectionTitle priority2 editable">
			Thank you!
		</h2>
		<p class="editable introduction">
			Your support will help EMIT leaders to transform their communities in every sphere of society across Africa. We would like to make it simple for you to extend your own impact. Here are a few ways you can support us.
		</p>
	</div>
	<div class="sectionContent contained-LastFour supportOptions">
		<ul class="infoPoints">
			<li class="point">
				<span class="icon"><i data-feather="check-circle"></i></span>
				<h3 class="pointTitle editable">
					Subscription
				</h3>
				<p class="pointContent editable">
					Extend your impact with a <a href="#subscription">monthly subscription</a>.
				</p>
			</li>
			<li class="point">
				<span class="icon"><i data-feather="check-circle"></i></span>
				<h3 class="pointTitle editable">
					Contribution
				</h3>
				<p class="pointContent editable">
					Determine your own impact with a <a href="#contribution">customized contribution</a>.
				</p>
			</li>
			<li class="point">
				<span class="icon"><i data-feather="check-circle"></i></span>
				<h3 class="pointTitle editable">
					Gift
				</h3>
				<p class="pointContent editable">
					Power-up your impact by giving a <a href="#gift">targeted gift</a> towards a specific need.
				</p>
			</li>
			<li class="point">
				<span class="icon"><i data-feather="check-circle"></i></span>
				<h3 class="pointTitle editable">
					Get involved
				</h3>
				<p class="pointContent editable">
					Experience your impact by <a href="/get-involved">getting involved.</a>
				</p>
			</li>
		</ul>
	</div>
</section>

<!-- SUBSCRIPTION HEADING -->
<section id="subscription" class="item--full">
	<div class="sectionIntro contained-FirstTwo">
		<h2 class="sectionTitle priority2 editable">
			Extend your impact<br /><span class="emphasis">with a subscription</span>
		</h2>
	</div>
	<div class="sectionContent contained-LastFour">
		<p class="introduction editable">
			EMIT leaders are making a difference across Africa. They feed the hungry, advise politicians, educate, heal brokenness, improve quality of life - bring light in darkness. Who are the people you impact? You can leave a legacy that spans continents and generations. Join the EMIT family of leaders by supporting these heros.
		</p>
	</div>
</section>

<!-- SUBSCRIPTIONS -->
<section class="item--full contrastLight2">
	<div class="subscriptionWrap container">
		{% assign subscriptions = site.products | where:'product_type', 'subscription' %}
		{% for product in subscriptions %}
			<div id="{{product.sku}}" class="cms-editor-link subscriptionProduct" data-cms-editor-link="cloudcannon:collections/{{ product.path }}">
				<div class="subscriptionImage">
					<div class="authorImageWrap">
						<div class="authorImage">
							<div class="sphere sphere3">
								<div class="sphere sphere2">
									<div class="sphere sphere1">
										<img src="{{site.baseurl}}{{product.product_image}}" alt="" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="infoWrap">
					<h3>{{product.name}}</h3>

						{% for currency in site.data.currencies %}
							<div class="price-container productCurrency {{ currency.code }} {% if currency.default == true %} activePrice {% endif %}">
								{% assign calcPrice = product.price_usd | times: currency.rateToUSD | round: 2 %}
								{% assign priceParts = calcPrice | split: "." %}
								<span class="currency">{{ currency.symbol }}</span>
								<span class="price">{{ priceParts[0] }}</span>
								<span class="cents-cont">
									<span class="cents">{{ priceParts[1] }}</span>
									<span class="place2">{{ product.terms }}</span>
								</span>
							</div>
						{% endfor %}

					<div>
						{{product.description_html}}
					</div>
					<div class=" price-button-container">
						<!-- <a role="link" href="{{product.paymentLink}}">SIGN UP</a> -->
						<button class="snipcart-add-item button"
							data-item-id="{{product.sku}}"
							data-item-name="{{product.name}}"
							data-item-price="{
								{% for currency in site.data.currencies %}
									"{{ currency.code }}":{{ product.price_usd | times: currency.rateToUSD | round: 0 }} {% if forloop.last %}{% else %},{% endif %}
								{% endfor %}
							}"
							data-item-url="/donate"
							data-item-description="{{ product.description_html | strip_html}}"
							data-item-selected-plan="monthly-plan"

							data-item-custom1-name="Include a personal message"
							data-item-custom1-type="textarea"
							data-item-custom1-value=""

							data-plan1-id="monthly-plan"
							data-plan1-name="Monthly Donation"
							data-plan1-frequency="Monthly"
							data-plan1-interval="1"
							data-item-plan1-price="{
								{% for currency in site.data.currencies %}
								"{{ currency.code }}":{{ product.price_usd | times: currency.rateToUSD | round: 0 }} {% if forloop.last %}{% else %},{% endif %}
								{% endfor %}
							}">
							Add to cart
						</button>

					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</section>

<!-- CONTRIBUTIONS -->
<section id="custom-contribution" class="item--full">
	<div class="sectionIntro contained-FirstTwo">
		<h2 class="sectionTitle priority2 editable">
			Determine your<br /><span class="emphasis">own impact</span>
		</h2>
		<p class="introduction editable">
			Determine the extent of your influence - make a custom contribution.
		</p>
	</div>
	<div class="sectionContent contained-LastFour">
		<form id="customDonationForm" onsubmit="return validateForm('customDonationForm')" class="materialForm">
			<div class="image"></div>
			<div id="customDonationFields" class="formWrap hideWhenInCart">
				<div class="formheader">
					<h3>Dear EMIT,</h3>
				</div>
				<div class="formFields">
					<div class="form-group message">
						<textarea id="message" rows="4" name="message"></textarea>
						<label for="message" class="control-label">Include a message with your gift.</label><i class="bar"></i>
					</div>
					<div class="amountWrap">
						<div class="priceWrap">
							{% for currency in site.data.currencies %}
							<div class="productCurrency {{ currency.code }} {% if currency.default == true %} activePrice {% endif %} "><span>{{ currency.symbol }}</span></div>
							{% endfor %}
						</div>
						<div class="form-group">
							<input type="text" id="transaction-amt" name="T_amt" required="required" />
							<label for="input" class="control-label">Contribution Amount</label><i class="bar"></i>
						</div>
					</div>
				</div>
				<button
				id="submitCustomDonation"
				type="submit"
				class="button snipcart-add-item primary"
				data-item-id = "custom-contribution"
				data-item-max-quantity = 1
				data-item-categories="donation"
				data-item-name = "CONTRIBUTION (Determine my own impact)"
				data-item-price = ""
				data-item-url = "https://emit-portal.netlify.app/donate/custom-contribution"
				data-item-quantity = 1
				data-item-image = "/images/products/custom-contribution/EMIT-custom-contribution.jpg",
				data-item-description = "This custom contribution will enable EMIT to develop ethical, influencial and skilled leaders in areas of Africa where other organisations do not reach. Thank you!"
				data-item-custom1-name="Message"
  				data-item-custom1-type="textarea"
				data-item-custom1-value="">
					GIVE!
				</button>
			</div>
			<div class="showWhenInCart">
				<div class="notification">Thank you, this gift is in your shopping-cart.</div>
				<div class="formheader">
					<h3>Dear EMIT,</h3>
				</div>
				<div class="feedbackMessage"></div>
				<div class="amountWrap">
					<div class="priceWrap">
						{% for currency in site.data.currencies %}
							<div class="productCurrency {{ currency.code }} {% if currency.default == true %} activePrice {% endif %} "><span>{{ currency.symbol }}</span></div>
						{% endfor %}
					</div>
					<div class="feedbackAmount"></div>
				</div>
				<div class="buttonRow">
					<button class="button primary snipcart-checkout">Open Cart</button>
				</div>
			</div>
		</form>
	</div>
</section>

<!-- GIFT HEADING -->
<section id="gift" class="item--full white">
	<div class="sectionIntro contained-FirstTwo">
		<h2 class="sectionTitle priority2 editable">
			Power up<br /><span class="emphasis">your impact with a gift</span>
		</h2>
	</div>
	<div class="sectionContent contained-LastFour">
		<p class="introduction editable">
			Give the gift of transformation. These targeted donations will impact the lives of leaders and communities in Africa.
		</p>
		<p>Feel free to give a once-off donation or a monthly contribution.</p>
	</div>
</section>

<!-- GIFT OPTIONS -->
<section class="item--full">
	<!-- Content -->
	<div id="donationsWrap" class="container">
		<div id="gift" class="donationOption">
			<ul class="product-list">
				{% assign donations = site.products | where:'product_type', 'donation' %}
				{% for product in donations %}
				<li id="{{ product.sku }}" class="cms-editor-link productPreview product" data-cms-editor-link="cloudcannon:collections/{{ product.path }}">
					<div class="imageWrap">
						<a class="productImage" href="{{ product.url }}">
							<img src="{{ site.baseurl }}{{ product.product_image }}" />
							<div class="priceWrap">
								{% for currency in site.data.currencies %}
								<div class="productCurrency {{ currency.code }} {% if currency.default == true %} activePrice {% endif %} "><span>{{ currency.symbol }}</span>{{ product.price_usd | times: currency.rateToUSD | round: 0 }}</div>
								{% endfor %}
							</div>
						</a>
						{% assign share_url = product.url | absolute_url | cgi_escape %}
						{% assign page_name = product.name %}
						<div class="links a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="{{share_url}}" data-a2a-title="{{page_name}}">
							<a class="a2a_dd" href="https://www.addtoany.com/share">
								<span class="icon"><i data-feather="share-2"></i></span>
							</a>
						</div>
						<div class="inCartNotification">
							<span class="icon"><i data-feather="check"></i></span>In Cart
						</div>
						<script>
							var a2a_config = a2a_config || {};
							a2a_config.onclick = 1;
							a2a_config.icon_color = "transparent";
						</script>
						<script async src="https://static.addtoany.com/menu/page.js"></script>
						<!-- AddToAny END -->

						<div class="product-details">
							<h4><a href="{{ product.url }}">{{ product.name }}</a></h4>
						</div>
						<div class="actionRow">
							<a class="button" href="{{ product.url }}">READ MORE</a>
							{% include snipcart-button.html product=product %}
							<button class="button primary snipcart-checkout"><span class="icon"><i data-feather="shopping-cart"></i></span>Open Cart</button>
						</div>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</section>

<!-- FAQ'S -->
<section class="white item--full">
	<div class="container">
		{% include faqsDonate.html %}
	</div>
</section>