---
title: Training
hero: EMIT Training Programs
heroQuote: Leadership and learning are indispensable to each other.
hero_Quote_Cite: John F Kennedy
hero_image: /images/businessMan.webp
---

<!-- Curriculum Strategy -->
<div class="page training">
    <section class="pageSection curriculumStrategy">
        <div class="container max-content">
            <div class="sectionContent">
                <ul class="infoPoints col-1-1-1">
                    <li>
                        <h2 class="sectionTitle priority2 editable">Our Curriculum<br /><span class="emphasis">strategy</span></h2>
                    </li>
                    <li class="point">
                        <span class="icon"><i data-feather="check-circle"></i></span>
                        <h3 class="pointTitle editable">Character and Spiritual Development</h3>
                        <p class="pointContent editable">EMIT wants to develop spiritually mature leaders that lead with a high ethical code.</p>
                    </li>
                    <li class="point">
                        <span class="icon"><i data-feather="check-circle"></i></span>
                        <h3 class="pointTitle editable">Leadership Development</h3>
                        <p class="pointContent editable">EMIT equips leaders with knowledge and practical skills that challenge them to become servant leaders that impact their sphere of influence positively.</p>
                    </li>
                    <li class="point">
                        <span class="icon"><i data-feather="check-circle"></i></span>
                        <h3 class="pointTitle editable">Professional Skills</h3>
                        <p class="pointContent editable">The EMIT material helps the leader with the professional skills needed to become more effective in his or her specific vocation.</p>
                    </li>
                    <li class="point">
                        <span class="icon"><i data-feather="check-circle"></i></span>
                        <h3 class="pointTitle editable">Transformational Focus</h3>
                        <p class="pointContent editable">EMIT trains leaders to become practitioners that strive to transform their communities (outcome-based training).</p>
                    </li>
                    <li class="point">
                        <span class="icon"><i data-feather="check-circle"></i></span>
                        <h3 class="pointTitle editable">Community Impact</h3>
                        <p class="pointContent editable">The end result of our training should be societal transformation. Communities must change from struggling and poor to healthy and prosperous.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Church Leaders -->
    <section class="pageSection churchLeaders">
        <div class="container max-container">
            <div class="sectionIntro">
                <h2 class="sectionTitle priority1 editable">Church<br /><span class="emphasis">LEADERS</span></h2>
                <hr class="seperationLine" />
				<p class="editable">Nibh, taciti fermentum quos, occaecat, nisl, magnam. Nullam quod posuere condimentum duis dapibus necessitatibus quisquam, ultrices praesentium tempore hendrerit rutrum.</p>
				<div class="callToAction">
					<a href="{{site.baseurl}}/programs/church-leaders/" class="button">View the curriculum</a>
					<a href="{{site.baseurl}}/contact/" class="button primary">Register</a>
				</div>
            </div>
            <div class="sectionImage" style="background-image:url({{site.baseurl}}/images/couple.webp);">
        </div>
    </div></section>
    <!-- Women Leaders -->
    <section class="pageSection womenLeaders">
        <div class="container max-container">
            <div class="sectionImage" style="background-image:url({{site.baseurl}}/images/womenTrainingGroupEMIT.webp);"></div>
            <div class="sectionIntro">
                <h2 class="sectionTitle priority1 editable">Women<br /><span class="emphasis">LEADERS</span></h2>
                <hr class="seperationLine" />
				<p class="editable">Nibh, taciti fermentum quos, occaecat, nisl, magnam. Nullam quod posuere condimentum duis dapibus necessitatibus quisquam, ultrices praesentium tempore hendrerit rutrum.</p>
				<div class="callToAction">
					<a href="{{site.baseurl}}/programs/women-leaders/" class="button">View the curriculum</a>
					<a href="{{site.baseurl}}/contact/" class="button primary">Register</a>
				</div>
            </div>
        </div>
    </section>
    <!-- Training Methodology -->
    <section class="pageSection trainingMethodTitle">
        <div class="container col-1-4">
            <div class="sectionIntro">
                <h2 class="sectionTitle priority2 editable">Training<br /><span class="emphasis">Methodology</span></h2>
            </div>
            <div class="sectionContent">
                <p class="editable">EMIT is a Non-Profit Leadership training organization with a wholistic model of training leaders of high influence to bring a positive transformation in every segment of society. Curabitur, magnis vel hic! Commodo fuga earum officiis. Aperiam facere excepturi rem! Turpis minus. Do optio pulvinar omnis. Exercitationem? Sint quod placerat tempore, officia? Iste ratione, vivamus! Felis! Dapibus quibusdam.</p>
            </div>
        </div>
    </section>
    <section class="pageSection trainingMethodList">
        <div class="container max-container max-content">
            <div class="sectionContent">
                <ul class="infoPoints col-1-1-1">
                    <li class="point">
                        <span class="icon"><i data-feather="check-circle"></i></span>
                        <h3 class="pointTitle editable">Registration</h3>
                        <p class="pointContent editable">Leaders in society enroll for a specific program that addresses their profession. Registration is managed by the local project-leader or through our online enrolment process.</p>
                    </li>
                    <li class="point">
                        <span class="icon"><i data-feather="check-circle"></i></span>
                        <h3 class="pointTitle editable">Training Events</h3>
                        <p class="pointContent editable">Training events are not full time. EMIT hosts two training events per year; each event lasts between two to five days (depending on vocation). Programs are usually between one and four years depending on the program.</p>
                    </li>
                    <li class="point">
                        <span class="icon"><i data-feather="check-circle"></i></span>
                        <h3 class="pointTitle editable">On-10</h3>
                        <p class="pointContent editable">EMIT expects all students to multiply their knowledge and skills by mentoring at least 10 other leaders with whom they connect for the duration of their training.</p>
                    </li>
                    <li class="point">
                        <span class="icon"><i data-feather="check-circle"></i></span>
                        <h3 class="pointTitle editable">Graduation and Certification</h3>
                        <p class="pointContent editable">After completion of the vocation specific curriculum, students graduate with certificates or diplomas depending the program.</p>
                    </li>
                    <li class="point">
                        <span class="icon"><i data-feather="check-circle"></i></span>
                        <h3 class="pointTitle editable">Training Model</h3>
                        <p class="pointContent editable">Training models differ from program to program. The four main models used are a) big group training events, b) small group training events, c) On-line training events, or d) a combination of the first three.</p>
                    </li>
                    <li class="point">
                        <span class="icon"><i data-feather="check-circle"></i></span>
                        <h3 class="pointTitle editable">Faculty</h3>
                        <p class="pointContent editable">More than 90% of all training and facilitating is done by indigenous leadership. The balance of the training is done by the Adjunct International Faculty.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- Learning Portal -->
    <section class="pageSection learnerPortal">
        <div class="container max-container">
            <div class="sectionIntro">
                <h2 class="sectionTitle priority2 editable">EMIT<br />leadership<br /><span class="emphasis">Learning Portal</span></h2>
				<p class="editable">Mobile phone penetration is skyrocketing throughout Sub-Saharan Africa. According to GSMA’s Mobile Economy Report Series, 84% of the population (1 billion people) will have access to a SIM connection by 2025.</p>
                <p class="editable">It is imperative that we are prepared to take advantage of the rapid spread of technology in Africa. Our learner portal is currently being developed and we will begin roll-out within the next few months.</p>
            </div>
            <div class="sectionImage contain" style="background-image:url({{site.baseurl}}/images/EMIT-learnerPortal.webp);"></div>
        </div>
    </section>
    <!-- Programs -->
    <section class="pageSection porgramList">
        <div class="container max-container">
            <div class="sectionImage contain" style="background-image:url({{site.baseurl}}/images/programs/WomenTrainingBook.webp);"></div>
            <div class="sectionIntro">
                <h2 class="sectionTitle priority2 editable">EMIT<br />leadership programs<br /><span class="emphasis">Current and Planned</span></h2>
				<ul class="infoPoints">
                    {% for program in site.programs %}
                    {% if program.status == "current" %}
                        {% assign icon = 'data-feather="check-circle"' %}
                        {% assign message = "Open for Registration" %}
                    {% elsif program.status == "developing"%}
                        {% assign icon = 'data-feather="info"' %}
                        {% assign message = "Help us launch - sponsor development" %}
                    {% else %}
                        {% assign icon = 'data-feather="target"' %}
                        {% assign message = "Planned" %}
                    {% endif %}
					<li class="point {{program.status}}">
						<span class="icon"><i {{icon}}></i></span>
						<h3 class="pointTitle">{{program.title}}</h3>
                            {% if program.status == "current" %}
                                <a href="{{program.url}}">{{message}}</a>
                            {% endif %}
                            {% if program.status == "developing" %}
                                <a href="{{program.url}}">{{message}}</a>
                            {% endif %}
                            {% if program.status == "planned" %}
                                <a href="{{program.url}}">{{message}}</a>
                            {% endif %}
					</li>
					{% endfor %}
                </ul>
            </div>
        </div>
    </section>
    <!-- FULL WIDTH CALL TO ACTION BUTTON -->
	<section class="pageSection ctaFeatured">
		<div class="container max-container max-content">
			<a href="{{ site.baseurl }}/donate/" class="callToAction editable">
				HELP US LAUNCH - SPONSOR THE NEXT PROGRAM
			</a>
		</div>
	</section>
</div>