---
title: Team
hero: Our Team
heroQuote: Managers light a fire under people; leaders light a fire in people.
hero_Quote_Cite: Kathy Austin
hero_image: /images/lightAFire.webp
description:
---

<!-- INTRO -->
<section class="item--full">
    <div class="sectionIntro contained-FirstTwo">
        <h2 class="sectionTitle priority2 editable">
        	TEAM of Experts
        </h2>
        <p class="editable introduction">
        	THE EMIT TEAM are experts in African transformation.
        </p>
    </div>
    <div class="sectionContent contained-LastFour">
        <p class="editable">
        	Teamwork is a powerful concept that you can put to work in nearly any industry. Strategically building a team for important projects is an efficient way to tackle a organization's challenges. Of course, teamwork doesn't just benefit the organization; it can also boost morale and camaraderie, increase job satisfaction and help employees stretch their abilities and raise their profile. Working in teams provides people more opportunities to release their creative ideas and increases their sense of belonging.
        </p>
        <p class="editable">
        	The EMIT team consist of permanent staff as well as volunteers across Africa. They are mentors that multiply themselves by imparting skills and life-changing values.
        </p>
    </div>
</section>
<!-- SECTION LIST OF MEMBERS -->
<section class="teamList item--full white">
    <ul class="sectionContent">
        {% for teamMember in site.data.team-members%}
        <!-- if group is team -->
        {% if teamMember.group contains "team" %}
        <li data-cms-editor-link="cloudcannon:collections/_data/team-members.yml" class="cms-editor-link">
            {% include teamMemberPreview.html %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</section>
