---
title: Team
hero: Team
heroImage: couple.webp
subtitle: Our Spheres of Impact
---

<div class="page team">
    <!-- INTRO -->
    <section class="pageSection teamList">
        <div class="container max-content">
            <ul class="sectionContent">
                <li>
                    <div>
                        <h2 class="sectionTitle priority2 editable">Our spheres<br>of <span class="emphasis">impact</span></h2>
                        <p class="editable introduction">THE EMIT TEAM are experts in African transformation.</p>
                        <p class="editable teamDescription">They are mentors that multiply themselves by imparting skills and life-changing values.</p>
                    </div>
                </li>
                {% for teamMember in site.data.team%}
                <li>
                    <!-- if group is team -->
                    {% if teamMember.group == "team" %}
                        {% include teamMemberPreview.html %}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>