<div class="africaStoryWrap">
    <div class="annaInAfricaWrap">
        <img class="sadAnnaInAfrica" src="{{ site.baseurl }}/images/scrollyTelling/annaInAfrica.png" />
    </div>
    <div class="africasLeaders">
        <div class="leaderRow">
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader transformer">
                <span class="symptom">NEPOTISM</span>
                {% include scrollytelling/leader.html %}
            </div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
        </div>
        <div class="leaderRow">
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader transformer">
                <span class="symptom">WARS</span>
                {% include scrollytelling/leader.html %}
            </div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
        </div>
        <div class="leaderRow">
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader transformer">
                <span class="symptom">FAMINE</span>
                {% include scrollytelling/leader.html %}
            </div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
        </div>
        <div class="leaderRow">
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader transformer">
                <span class="symptom">CORRUPTION</span>
                {% include scrollytelling/leader.html %}
            </div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
        </div>
        <div class="leaderRow">
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader transformer">
                <span class="symptom">TERRORISM</span>
                {% include scrollytelling/leader.html %}
            </div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
            <div class="africaLeader reveal">{% include scrollytelling/leader.html %}</div>
        </div>
    </div>
</div>