<!-- ANNINATED TEXT LAYERS -->
<div id="text_yourImpact" class="sectionContent">
    <div class="textContainer">
        <p>
            <span >Who are the <strong>PEOPLE</strong></span>
            <span ><strong>you impact</strong>?</span>
        </p>
    </div>
</div>
<div id="text_africaProblem" class="sectionContent whamBam">
    <div class="textContainer">
        <p>
            <span >After decades of support</span>
            <span><strong>AFRICA</strong> is still struggling</span>
        </p>
    </div>
</div>
<div id="text_africaProblem2" class="sectionContent whamBam">
    <div class="textContainer">
        <p class="txt_brandLight">
            <strong>CORRUPTION</strong>
        </p>
    </div>
</div>
<div id="text_africaProblem3" class="sectionContent whamBam">
    <div class="textContainer">
        <p class="txt_brandLight">
            <strong>POVERTY</strong>
        </p>
    </div>
</div>
<div id="text_africaProblem4" class="sectionContent whamBam">
    <div class="textContainer">
        <p class="txt_brandLight">
            <strong>NEPOTISM</strong>
        </p>
    </div>
</div>
<div id="text_africaProblem5" class="sectionContent whamBam">
    <div class="textContainer">
        <p class="txt_brandLight">
            <strong>WARS</strong>
        </p>
    </div>
</div>
<div id="text_africaProblem6" class="sectionContent whamBam">
    <div class="textContainer">
        <p class="txt_brandLight">
            <strong>FAMINE</strong>
        </p>
    </div>
</div>
<div id="text_solution" class="sectionContent">
    <div class="textContainer">
        <p>
            <span ><strong>EMIT</strong> believes the problem</span>
            <span >and <strong>solution</strong> rests with the</span>
            <span ><strong>leaders</strong> of Africa</span>
        </p>
    </div>
</div>
<div id="text_meetAnna" class="sectionContent">
    <div class="textContainer">
        <p>
            <span >Meet <strong>Anna</strong>.</span>
            <span >These are the <strong>LEADERS</strong> that impact the <strong>quality</strong> of her life.</span>
        </p>
    </div>
</div>
<div id="text_ifOnly" class="sectionContent">
    <div class="textContainer">
        <p>
            <span >If we can equip her <strong>leaders</strong> we can <strong>TRANSFORM</strong> her life.</span>
        </p>
    </div>
</div>
<div id="text_joseph" class="sectionContent">
    <div class="textContainer">
        <p>
            <span ><strong>Meet Joseph.</strong><br><strong>EMIT</strong> has transformed his life.</span>
        </p>
    </div>
</div>
<div id="text_josephOnTenIntro" class="sectionContent">
    <div class="textContainer">
        <p>
            <span >He is given a mandate to identify <strong>10 influencers </strong>with whom he will share his <strong>training</strong>.</span>
        </p>
    </div>
</div>
<div id="text_josephTrainingIntro" class="sectionContent whamBam2">
    <div class="textContainer">
        <p>
            <span ><strong>EMIT</strong><br><strong>equips</strong> them to<br>lead the change<br>in their communities</span>
        </p>
    </div>
</div>
<div id="text_josephTraining1" class="sectionContent whamBam2">
    <div class="textContainer">
        <p>
            <span ><strong>Leadership</strong><br>development</span>
        </p>
    </div>
</div>
<div id="text_josephTraining2" class="sectionContent whamBam2">
    <div class="textContainer">
        <p>
            <span ><strong>Spiritual</strong> & <strong>Character </strong><br>development</span>
        </p>
    </div>
</div>
<div id="text_josephTraining3" class="sectionContent whamBam2">
    <div class="textContainer">
        <p>
            <span ><strong>Management</strong><br>skills</span>
        </p>
    </div>
</div>
<div id="text_josephTraining4" class="sectionContent whamBam2">
    <div class="textContainer">
        <p>
            <span ><strong>Financial</strong><br>skills</span>
        </p>
    </div>
</div>
<div id="text_josephTraining5" class="sectionContent whamBam2">
    <div class="textContainer">
        <p>
            <span ><strong>Administrative</strong><br>skills</span>
        </p>
    </div>
</div>
<div id="text_josephTransformationIntro" class="sectionContent">
    <div class="textContainer">
        <p>
            <span >With renewed <strong>vision</strong> they begin to <strong>transform</strong> their community</span>
        </p>
    </div>
</div>
<div id="text_makeADifference" class="sectionContent">
    <div class="textContainer">
        <div id="makeDif1" class="hideToStart">YOU<br>CAN</div>
        <div id="makeDif2" class="hideToStart">BE<br>THE</div>
        <div id="makeDif3" class="hideToStart">CHANGE</div>
    </div>
</div>