<img class="africaLightGrey" src="/images/scrollyTelling/africaBrandContrastLight2.png" />
<div class="annasLeaders">
    <div class="annaleader l1">{% include scrollytelling/leader.html %}</div>
    <div class="annaleader l2">{% include scrollytelling/leader.html %}</div>
    <div class="annaleader l3">{% include scrollytelling/leader.html %}</div>
</div>
<div class="annaInAfricaWrap">
    <img class="sadAnnaInAfrica" src="{{ site.baseurl }}/images/scrollyTelling/annaInAfrica.png" />
</div>


<!-- <img id="smilingAnnaInAfrica" src="{{ site.baseurl }}/images/scrollyTelling/smilingAnnaInAfrica.png" /> -->
