
<!-- Todo: only insert custom position if it exists. -->
<section id="hero" class="hero item--full">
    <video autoplay muted loop id="myVideo" class="max-content" poster="{{site.baseurl}}/images/scrollyTelling/EMIT-heroPoster.jpg">
        <source src="{{site.baseurl}}/video/EMIT-hero.mp4" type="video/mp4">
     </video>
    <div class="heroOverlay"></div>
    <div class="introWrapper">
        <div id="mainCTA" class="ctaWrapper">
            <div class="ctaTitle">Become the change</div>
            <a id="introCTA" class="button ctaBtn" href="{{site.baseurl}}/donate/">DONATE NOW</a>
        </div>
        <div class="introHeadline">
            <h1><span class="hideToStart">Transforming </span><span class="hideToStart">nations</span> <span class="hideToStart">by developing </span><span class="hideToStart">leaders</span></h1>
        </div>
    </div>
</section>
