
<!-- Todo: only insert custom position if it exists. -->
<section id="hero" class="hero swiper-slide grid">
    <video playsinline autoplay muted loop oncanplay="this.muted=true" preload="auto" id="heroVideo" class="max-content" poster="/video/EMIT-heroPoster.jpg">
        <source src="{{site.baseurl}}/video/EMIT-hero.mp4" type="video/mp4">
     </video>
    <div class="heroOverlay"></div>
    <div class="introWrapper">
        <div id="mainCTA" class="ctaWrapper">
            <div class="ctaTitle">Become the change</div>
            <a id="introCTA" class="button ctaBtn" href="{{site.baseurl}}/donate/">DONATE NOW</a>
        </div>
        <div class="introHeadline">
            <h1><span>Transforming </span><span>nations</span> <span>by developing </span><span>leaders</span></h1>
        </div>
    </div>
</section>
