<!-- THE STAGE : SCENES AND CHARACTERS FOR ANIMATION-->

<div id="theStage" class="white">
    <section id="spinningPlanet">{% include scrollytelling/planet.html %}</section>
    <section id="annaInAfrica">{% include scrollytelling/annaInAfrica.html %}</section>
    <section id="clusterOfLeaders">{% include scrollytelling/clusterOfLeaders.html %}</section>
    <section id="anna">{% include scrollytelling/anna.html %}</section>
    <section id="villageZoom"></section>
    <section id="onTen"></section>
    <section id="joseph"></section>
    <section id="spheres">{% include scrollytelling/spheres.html %}</section>
    <section id="thePeopleYouImpact">{% include scrollytelling/thePeopleYouImpact.html %}</section>
    <section id="animatedLogo">{% include scrollytelling/animatedLogo.html %}</section>
    <section id="storyText">{% include scrollytelling/animatedText.html %}</section>
</div>