
<aside class="articleAside">
    {% for post in thepost %}
    <a class="articleLink" href="{{ site.baseurl }}{{ post.url }}">
        <!-- {% assign author = site.data.team[post.author] %} -->
        {% for member in site.data.team %}
            {% if member.shortname == post.author %}
                {% assign author = member %}
            {% endif %}
        {% endfor %}
        <div class="authorImage">
            <div class="sphere sphere3">
                <div class="sphere sphere2">
                    <div class="sphere sphere1">
                        <img src="{{ site.baseurl }}{{ author.profile_image }}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="articleInfo">
            <div class="content">
                <h5 class="title">{{ post.title }}</h5>
                <p class="subtitle">{{ post.subtitle }}</p>
            </div>
            <div class="byline"><span class="author">by {{ author.name }}</span> on <span class="postDate">{{ post.date | date: "%d %b %Y" }}</span></div>
        </div>
    </a>
    {% endfor %}
</aside>