<!-- SECTION: SECURITY -->
<div class="sidebarSection">
    <h4>IS MY DONATION SECURE?</h4>
    <p>
        Absolutely. The security and confidentiality of your information is our highest priority. We use industry-standard SSL (secure socket layer) technology to protect your information and provide a safe and secure environment for online donations. We will not sell, trade or share your personal information with anyone else, nor send donor mailings on behalf of other organizations, and we will only share personal information if you have given us specific permission to do so.
    </p>
</div>
<!-- SECTION: TAX -->
<div class="sidebarSection">
    <h4>IS MY DONATION TAX-DEDUCTABLE?</h4>
    <p>
        A donation receipt will be sent to you at the email address you provide on this form. Please be sure to keep a copy of your receipt for tax purposes. If you select a recurring donation, you will be sent an individual receipt each month when your donation is processed.
    </p>
</div>
<!-- SECTION: RECEIPT -->
<div class="sidebarSection">
    <h4>DO I GET A RECEIPT?</h4>
    <p>
        A donation receipt will be sent to you at the email address you provide on this form. Please be sure to keep a copy of your receipt for tax purposes. If you select a recurring donation, you will be sent an individual receipt each month when your donation is processed.
    </p>
</div>