<aside class="postPreview">
        {% if post.category == "Transformation Stories" %}
            {% assign authorName = post.leaderName %}
            {% assign authorProfileImage = post.image %}
        {% else %}
            {% assign author = site.data.team | where:"shortname", post.author  | first %}
            {% assign authorName = author.name %}
            {% assign authorProfileImage = author.profile_image %}
        {% endif %}
        <!-- If category is Transformation Stories then author image is in data file for transformationStories -->

        <div class="postImage"  style="background-image:url({{site.baseurl}}{{post.hero_image}});">
            <span class="postDate">{{ post.date | date: "%d %b %Y" }}</span>
        </div>

        <a  href="{{post.url}}" class="postContent">
            <div>
                <h4 class="postTitle">{{post.title}}</h4>
                <div class="byline"><span class="author">{{ authorName }}</span></div>
                <p class="postSubtitle">{{post.subtitle}}</p>
            </div>
            <div class="postActions">
                <span class="button secondary">Read more</span>
            </div>
        </a>
        <a  href="{{post.url}}" class="overlay">
            <div class="authorImage">
                <div class="sphere sphere3">
                    <div class="sphere sphere2">
                        <div class="sphere sphere1">
                            <img src="{{ site.baseurl }}{{ authorProfileImage }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <ul class="links">
            <a href="https://facebook.com"><i data-feather="twitter"></i></a>
            <a href="https://twitter.com"><i data-feather="facebook"></i></a>
            <a href="https://linkedin.com"><i data-feather="linkedin"></i></a>
        </ul>
</aside>