<div id="efca" class="moreInfo">
    <div class="wrap">

        <div class="pic">
            <img src="{{site.baseurl}}/images/{{partner.pic}}" alt="{{partner.name}}">
        </div>
        <div class="content">
            <h3>{{partner.name}}</h3>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt distinctio saepe quasi, porro, sed assumenda cumque id delectus repellat doloribus, consequuntur enim vero dolores voluptatum ratione quis incidunt eius quaerat.</p>
                <p>You can read more about them on their <a href="{{partner.websiteUrl}}">website</a>.</p>
            </div>
        </div>
    </div>
</div>
