<!-- For migration to svelte: -->
<!-- navigation.scss -->
<!-- _navigation.js -->
<header id="mainHeader" class="defaultheader">
	<!-- Icon paths for use with buttons -->
	{% include Icons_combined.html %}
	<div class="logoWrap">
		{% include logo.html %}
	</div>
	<nav>
		<!-- LOOP THROUGH TOP-LEVEL NAV DATA -->
		{% assign links = site.data.navigation | where:'list', 'topLevel' %}
		<ul class="topLevel">
			{% for link in links %}
				<li class="level1{% if link.subPages %} hasSubMenu{% endif %}{% if link.link == page.url %} active{% endif %}" id="{{ link.name | downcase }}">
					<!-- If has submenu then button, else link -->
					{% if link.subPages %}
						<button class="subnavBtn">
							<span class="linkTitle">{{ link.name }}</span>
							<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
								<use xlink:href="#chevron-down"></use>
							</svg>
						</button>
					{% else %}
						<a href="{% include relative-src.html src=link.link %}" class="{{ class }} hideToStart">{{ link.name }}</a>
					{% endif %}

					<!-- if sub menu then loop through items -->
					{% if link.subPages %}
						<div class="subMenu">
							<!-- <div class="subMenuHeader">
								<h3></span>{{ link.name }}</h3>
								<svg class="closeSubMenu" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
									<use xlink:href="#close"></use>
								</svg>
							</div> -->
							<div class="content">
								{% for link in link.subPages %}
									<div class="level2">
										{{link.name}}
										{% if link.subPages %}
											<div class="level3">
												{% for link in link.subPages %}
													{{ link.name }}
												{% endfor %}
											</div>
										{% endif %}
									</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}

					{% if link.link == page.url %}
						<span class="activeIndicator"></span>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		<!-- LOOP THROUGH ACTION NAV DATA -->
		{% assign actions = site.data.navigation | where:'list', 'actions' %}
		<ul class="actions">
			<!-- <li id="actionLogo">
				<a href="/">
					{% include logo.html %}
				</a>
			</li> -->

			{% for action in actions %}
				<li id="{{ action.name | downcase }}" class="actionButton{% if action.link == page.url %} active{% endif %}">
					<a href="{{ action.link }}">
						<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<use xlink:href="#user"></use>
						</svg>
						<span class="linkTitle">{{ action.name }}</span>
						{% if action.link == page.url %}
							<span class="activeIndicator"></span>
						{% endif %}
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>