<!-- For migration to svelte: -->
<!-- navigation.scss -->
<!-- _navigation.js -->

<header id="mainHeader" class="{% if page.header %} {{page.header}} {%else%}  defaultheader {%endif%}}">
	<!-- Icon paths for use with buttons -->
	{% include Icons_combined.html %}

	<!-- logo -->
	<div id="logoWrap" class="logoWrap">
		<a href="/">
			{% include logo.html %}
		</a>
	</div>

	<!-- top-level info links -->
	<nav id="topLevel" aria-label='primary navigation'>
		<!-- LOOP THROUGH TOP-LEVEL NAV DATA -->
		{% assign links = site.data.navigation | where:'list', 'topLevel' %}
		<ul>
			{% for link in links %}
			<li>
				<!-- If has submenu then button, else link -->
				{% if link.subPages %}
				<button class="subnavBtn" data-subnavID="{{link.name | downcase}}-subnav">
					<span class="linkTitle">{{ link.name }}</span>
					<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
						<use xlink:href="#chevron-down"></use>
					</svg>
				</button>
				{% else %}
				<a class="topLevelLinks" href="{% include relative-src.html src=link.link %}" class="{{ class }} hideToStart">{{ link.name }}</a>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</nav>

	<div class="spacer">
		SPACER
	</div>

	<!-- actions -->
	<nav id="actions" aria-label='action links'>
		{% assign actions = site.data.navigation | where:'list', 'actions' %}
		<ul class="actions">
			{% for action in actions %}
				<li id="{{ action.name | downcase }}" class="actionButton{% if action.link == page.url %} active{% endif %}">
					<a href="{{ action.link }}" class="{{action.class}}">
						<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<use xlink:href="#{{ action.svg }}"></use>
						</svg>
						<span class="linkTitle">{{ action.name }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</nav>

	<!-- Subnavigation Overlays -->
	<nav id="about-subnav" class="subnav" aria-label='sub-navigation for About-Us'>
		{% assign about = site.data.navigation | where:'name', 'About' %}
		{% for link in about %}
		<header>
			<h2>{{ link.name }}</h2>
			<div class="closeSubMenu">
				<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<use xlink:href="#close"></use>
				</svg>
			</div>
		</header>
		<div class="subnavContainer">
			{% for link in link.subPages %}
				<div class="navItem">
					<div class="pic">
						<img src="{{ link.thumb_image }}" alt="">
					</div>
					<div class="description">
						<a href="{{ link.link }}">
							<h3>{{ link.name }}</h3>
							<p>{{ link.description }}</p>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
		{% endfor %}
	</nav>
	<nav id="training-subnav" class="subnav" aria-label='sub-navigation for Training'>
		{% assign about = site.data.navigation | where:'name', 'Training' %}
		{% for link in about %}
		<header>
			<h2>{{ link.name }}</h2>
			<div class="closeSubMenu">
				<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<use xlink:href="#close"></use>
				</svg>
			</div>
		</header>
		<div class="subnavContainer">
			{% for link in link.subPages %}
				<div class="navItem">
					<div class="pic">
						<img src="{{ link.thumb_image }}" alt="">
					</div>
					<div class="description">
						<a href="{{ link.link }}">
							<h3>{{ link.name }}</h3>
							<p>{{ link.description }}</p>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
		{% endfor %}
	</nav>

</header>