<!-- For migration to svelte: -->
<!-- navigation.scss -->
<!-- _navigation.js -->
<header id="mainHeader" class="defaultheader">
	<!-- Icon paths for use with buttons -->
	{% include Icons_combined.html %}
	<div class="logoWrap">
		{% include logo.html %}
	</div>
	<nav>
		<!-- LOOP THROUGH TOP-LEVEL NAV DATA -->
		{% assign links = site.data.navigation | where:'list', 'topLevel' %}
		<ul class="topLevel">
			{% for link in links %}
				<li class="level1{% if link.subPages %} hasSubMenu{% endif %}{% if link.link == page.url %} active{% endif %}" id="{{ link.name | downcase }}">
					<!-- If has submenu then button, else link -->
					{% if link.subPages %}
						<button class="subnavBtn">
							<span class="linkTitle">{{ link.name }}</span>
							<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
								<use xlink:href="#chevron-down"></use>
							</svg>
						</button>
					{% else %}
						<a class="topLevelLinks" href="{% include relative-src.html src=link.link %}" class="{{ class }} hideToStart">{{ link.name }}</a>
					{% endif %}

					<!-- if sub menu then loop through items -->
					{% if link.subPages %}
						<div class="subMenu">
							<div class="subMenuWrap">
								<div class="subMenuHeader">
									<h3>{{link.name}}</h3>
									<svg class="closeSubMenu" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
										<use xlink:href="#close"></use>
									</svg>
								</div>
								<div class="content">
									{% for link in link.subPages %}
										<div class="level2" id="{{ link.name | downcase }}">
											<a href="{{link.link}}" class="level2Wrap">
												<div class="imageWrap">
													<img src="https://picsum.photos/200" alt="">
												</div>
												<div class="level2Content">
													<h4>{{link.name}}</h4>
													<p>{{link.description}}</p>
												</div>
											</a>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					{% endif %}

					{% if link.link == page.url %}
						<span class="activeIndicator">
							{% include topLevel-active.html %}
						</span>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
		<!-- LOOP THROUGH ACTION NAV DATA -->
		{% assign actions = site.data.navigation | where:'list', 'actions' %}
		<ul class="actions">
			{% for action in actions %}
				<li id="{{ action.name | downcase }}" class="actionButton{% if action.link == page.url %} active{% endif %}">
					<a href="{{ action.link }}">
						<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
							<use xlink:href="#{{ action.svg }}"></use>
						</svg>
						<span class="linkTitle">{{ action.name }}</span>
					</a>
					{% if action.link == page.url %}
						<span class="activeIndicator">
							{% include topLevel-active.html %}
						</span>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>