<svg id="leaderStuff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 1200" fill="red" stroke="#000" stroke-linejoin="round">
    <g id="darkAfrica">
        <!-- 10 LEADERS -->
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <!-- 10 LEADERS -->
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <!-- 10 LEADERS -->
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <!-- 10 LEADERS -->
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <!-- 10 LEADERS -->
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <!-- 10 LEADERS -->
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <!-- 10 LEADERS -->
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <!-- 10 LEADERS -->
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <!-- 10 LEADERS -->
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <!-- 10 LEADERS -->
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
        <g class="leader">
            <ellipse cx="0" cy="0" rx="17" ry="17"/>
            <ellipse cx="0" cy="0" rx="13" ry="13"/>
            <ellipse cx="0" cy="0" rx="8" ry="8"/>
            <ellipse cx="0" cy="0" rx="4" ry="4"/>
        </g>
    </g>
</svg>