{% if page.title == "Stories" %}
<article class="postPreview cms-editor-link" data-cms-editor-link="cloudcannon:{{post.url}}">
{% else %}
<aside class="postPreview cms-editor-link" data-cms-editor-link="cloudcannon:{{post.url}}">
{% endif %}

        {% if post.category == "Transformation Stories" %}
            {% assign authorName = post.leaderName %}
            {% assign authorProfileImage = post.leader_image %}
        {% else %}
            {% assign author = site.data.team-members | where:"shortname", post.author  | first %}
            {% assign authorName = author.name %}
            {% assign authorProfileImage = author.profile_image %}
        {% endif %}
        <!-- If category is Transformation Stories then author image is in data file for transformationStories -->

        <!-- Muliply sprite-selection by distance to get the background X position -->
        {% assign position = distance | times: post.sprite_selection_number %}


        <div class="postWrap">
            <div class="postImageWrap">
                <div class="postImage"  style="background-image:url({{site.baseurl}}{{post.sprite_image}}); background-position: 0 {{position}}%;">
                </div>
                <!-- Absolute Position -->
                <a class="authorImage" href="{{post.url}}">
                    <div class="sphere sphere3">
                        <div class="sphere sphere2">
                            <div class="sphere sphere1">
                                <img src="{{ site.baseurl }}{{ authorProfileImage }}" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <a  href="{{post.url}}" class="postContent">
                <div>
                    <h4 class="postTitle">{{post.title}}</h4>
                    <p class="postSubtitle">{{post.subtitle}}</p>
                    <div class="byline tagify"><span>{{ authorName }}</span><span>{{post.category}}</span><span>{{ post.date | date: "%d %b %Y" }}</span></div>
                </div>
            </a>
            <div class="postActions">
                <ul class="links">
                    {% assign share_url = post.url | absolute_url | cgi_escape %}
                    <a href="https://twitter.com/intent/tweet?url={{ share_url }}&amp;text=I%20love%20this%20post%20on%20EMIT's%20website!" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i data-feather="twitter"></i></a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{share_url}}" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i data-feather="facebook"></i></a>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{share_url}}&title=&summary=Check out this interesting article on EMIT's website.&source="><i data-feather="linkedin" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"></i></a>
                    <a class="email" href="mailto:?subject=I've%20found%20an%20article%20you%20may%20like&amp;body=Check%20it%20out%20-%20{{ share_url }}"><i data-feather="mail"></i></a>
                </ul>
                <a href="{{post.url}}" class="button secondary">Read more</a>
            </div>
        </div>



{% if page.title == "Stories" %}
</article>
{% else %}
</aside>
{% endif %}