{% if page.title == "Stories" %}
<article class="postPreview cms-editor-link" data-cms-editor-link="cloudcannon:collections/{{ post.path }}">
{% else %}
<aside class="postPreview cms-editor-link" data-cms-editor-link="cloudcannon:collections/{{ post.path }}">
{% endif %}

        {% if post.category == "Transformation Stories" %}
            {% assign authorName = post.leaderName %}
            {% assign authorProfileImage = post.leader_image %}
        {% else %}
            {% assign author = site.data.team-members | where:"shortname", post.author  | first %}
            {% assign authorName = author.name %}
            {% assign authorProfileImage = author.profile_image %}
        {% endif %}
        <!-- If category is Transformation Stories then author image is in data file for transformationStories -->

        <!-- Muliply sprite-selection by distance to get the background X position -->
        {% assign position = distance | times: post.sprite_selection_number %}


        <div class="postWrap">
            <div class="postImageWrap">
                <div class="postImage"  style="background-image:url({{site.baseurl}}{{post.sprite_image}}); background-position: 0 {{position}}%;">
                </div>
                <!-- Absolute Position -->
                <a class="authorImage" href="{{post.url}}">
                    <div class="sphere sphere3">
                        <div class="sphere sphere2">
                            <div class="sphere sphere1">
                                <img src="{{ site.baseurl }}{{ authorProfileImage }}" alt="">
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <a  href="{{post.url}}" class="postContent">
                <div>
                    <h4 class="postTitle">{{post.title}}</h4>
                    <p class="postSubtitle">{{post.subtitle}}</p>
                    <div class="byline tagify"><span>{{ authorName }}</span><span>{{post.category}}</span><span>{{ post.date | date: "%d %b %Y" }}</span></div>
                </div>
            </a>
            <div class="postActions">
                <ul class="links">
                    <!-- Sonya - check here for all analytics and customisation options: https://www.addtoany.com/ -->
                    {% assign share_url = post.url | absolute_url | cgi_escape %}
                    {% assign page_name = post.subtitle %}
                    <div class="links a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="{{share_url}}" data-a2a-title="{{page_name}}">
                        <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                        <a class="a2a_button_facebook"></a>
                        <a class="a2a_button_twitter"></a>
                        <a class="a2a_button_email"></a>
                        <a class="a2a_button_linkedin"></a>
                    </div>
                    <script>
                    var a2a_config = a2a_config || {};
                    a2a_config.onclick = 1;
                    a2a_config.icon_color = "transparent";
                    </script>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                    <!-- AddToAny END -->
                </ul>
                <a href="{{post.url}}" class="button secondary">Read more</a>
            </div>
        </div>



{% if page.title == "Stories" %}
</article>
{% else %}
</aside>
{% endif %}