<div class="sidebar">
    <!-- SECTION: CATEGORY NAV -->
    <nav class="sidebarSection categoryNav">
        <h4>CATEGORIES</h4>
        <ul class="categoryNav">
            {% for category in site.categories %}
                <li>
                    <a href="{{ site.baseurl }}/{{category|first}}" title="">{{category|first}}
                        <span class="slash-divider">/</span>
                        <span class="categoryCount">{{category[1].size}}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <!-- SECTION: TAGS -->
    <div class="sidebarSection tagsCluster">
        <h4>TAGS</h4>
        {% for tag in site.tags %}
        <a href="#{{ tag[0] | slugify }}">{{ tag[0] }}</a>
        {% endfor %}
    </div>
    <!-- SECTION: ANNOUCEMENTS -->
    <div class="sidebarSection latestAnnouncements">
        <h4>ANNOUNCEMENTS</h4>
        {% assign filtered_posts = site.posts | where: 'category', "Announcements" %}
        {% for post in filtered_posts limit:3 %}
            <div class="announcement">
                <span class="icon"><i data-feather="alert-circle"></i></span>
                <div class="content">
                    <h5>{{ post.title }}</h5>
                    <p>{{ post.excerpt | strip_html | | normalize_whitespace | truncate: 80 }} <a href="{{ site.baseurl }}{{ post.url }}">Continue reading.</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- SECTION: RECENT POSTS -->
    <div class="sidebarSection recentPosts">
        <h4>RECENT POSTS</h4>
        <ul class="clearlist widget-posts">
            {% for post in site.posts limit:3 %}
            <li>
                <div class="recentPostWrap">
                    <!-- Todo: replace this HUGE image with the minature sprite bg -->
                    <a class="postImage" href="{{ post.url }}" style="background-image:url({{site.baseurl}}{{post.hero_image}})"></a>
                    <div class="postDescription">
                        <a class="postTitle" href="{{ post.url }}" title="">{{ post.title }}</a>
                    </div>
                    <div class="postMeta tagify">
                        <span>{{ post.date | date: "%d %b %Y" }}</span>
                        <span>{{ post.author }}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>




