<div class="member">
    <div class="authorImage modalBtn">
        <div class="authorImage">
            <div class="sphere sphere3">
                <div class="sphere sphere2">
                    <div class="sphere sphere1">
                        <img src="{{ site.baseurl }}{{ teamMember.team_image }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h3>{{ teamMember.name }}</h3>
    <div class="memberTitle">{{ teamMember.title }}</div>
    <!-- <ul class="team-social">
        <li><a href="{{teamMember.facebook_url}}"><span aria-hidden="true" class="social_facebook"></span></a></li>
        <li><a href="{{teamMember.twitter_url}}"><span aria-hidden="true" class="social_twitter"></span></a></li>
        <li><a href="{{teamMember.linkedin_url}}"><span aria-hidden="true" class="social_linkedin"></span></a></li>
    </ul> -->
    <ul class="links">
        <li><a class="facebook" href="{{teamMember.facebook_url}}">{% include social-icon.html icon="Facebook2" %}</a></li>
        <li><a class="twitter" href="{{teamMember.twitter_url}}">{% include social-icon.html icon="Twitter" %}</a></li>
        <li><a class="linkedin" href="{{teamMember.linkedin_url}}">{% include social-icon.html icon="LinkedIn" %}</a></li>
    </ul>
    <div id="{{teamMember.memberID}}" class="modal">
        {% assign name = teamMember.name %}
        {% assign image = teamMember.team_image %}
        {% assign url = teamMember.facebook_url %}
        {% assign urlText = "See more on facebook" %}
        {% assign description = teamMember.description %}
        <div class="modalContent">
            {% include moreInfoPopup.html %}
        </div>
    </div>
</div>