.bg-AfricanVillage0 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -10px -10px;
}

.bg-AfricanVillage1 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -1950px -10px;
}

.bg-AfricanVillage2 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -10px -1110px;
}

.bg-AfricanVillage3 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -1950px -1110px;
}

.bg-AfricanVillage4 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -10px -2210px;
}

.bg-AfricanVillage5 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -1950px -2210px;
}

.bg-AfricanVillage6 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -3890px -10px;
}

.bg-AfricanVillage7 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -3890px -1110px;
}

.bg-AfricanVillage8 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -3890px -2210px;
}

.bg-AfricanVillage9 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -10px -3310px;
}

.bg-AfricanVillage10 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -1950px -3310px;
}

.bg-AfricanVillage11 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -3890px -3310px;
}

.bg-AfricanVillage12 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -10px -4410px;
}

.bg-AfricanVillage13 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -1950px -4410px;
}

.bg-AfricanVillage14 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -3890px -4410px;
}

.bg-AfricanVillage15 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -5830px -10px;
}

.bg-AfricanVillage16 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -5830px -1110px;
}

.bg-AfricanVillage17 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -5830px -2210px;
}

.bg-AfricanVillage18 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -5830px -3310px;
}

.bg-AfricanVillage19 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -5830px -4410px;
}

.bg-AfricanVillage20 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -10px -5510px;
}

.bg-AfricanVillage21 {
    width: 1920px; height: 1080px;
    background: url('/images/scrollyTelling/css_sprites.webp') -1950px -5510px;
}