// main wrap
main.content {
	background: $brandContrastLight;
	margin: 0;
	padding: 0;
	position: relative;
}

// page content wrap - exists to give individual pages a wrapping class
.page {
	margin: 0;
	padding: 0;
}

// Six Center columns with full width bg's when required
// Based on the single center column from the example below
// https://medium.com/@igloude/how-css-grid-makes-single-columns-better-def5a7dd5045
// Included #theStage for positioning scrollytelling animations
.grid {
	display: grid;
	grid-template-columns:
	//       | vp |   vp   |   vp  |   vp   |   vp  |   vp   |   vp  | vp |
	//       |    |  cont  |  cont |  cont  |  cont |  cont  |  cont |    |
	//       |    |  col2  |  col3 |  col4  |  col5 |  col6  |  col7 |    |

	[viewport-start]
		minmax(2em, 1fr)
		[container-start]
			minmax(0, 12em)
			minmax(0, 12em)
			minmax(0, 12em)
			minmax(0, 12em)
			minmax(0, 12em)
			minmax(0, 12em)
		[container-end]
		minmax(2em, 1fr)
	[viewport-end];
}

section {
	// Default layout puts the content of section into container spanning middle six columns
	grid-column: container;
	// border: 1px solid blue;
	padding: 0;
	margin: 0;
	position: relative;
}
.item--full {
	// Inherits all the columns and puts the content into the center container span
	grid-column: viewport;
	// grid-gap: 2rem;
    display: inherit;
    grid-template-columns: inherit;
    & > * {
        grid-column: container;
	}
	// Force full width of content blocks
	// For things like maps
	.max-content {
		grid-column: viewport;
	}
}
.white {
	background-color: #ffffff;
}
.dark {
	background: $brandContrastDark;
}
.contrastLight {
	background: $brandContrastLight;
}
.contrastLight2 {
	background: $brandContrastLight2;
}


// Granular control of center columns
// First make sure the section is item-full so that you have all the columns to work with
// Then apply any of the following
// They ony kick in after 900px
// Todo: convert these to mixins and make everything semantic
@media (min-width: 900px) {
	.leftToCenter {
		grid-column: 1 / span 4;
		padding-right: 2rem;
	}
	.centerToRight {
		grid-column: 5 / span 4;
		padding-left: 2rem;
	}
	.leftToOne {
		grid-column: 1 / span 2;
		padding-right: 2rem;
		padding-left: 2rem;
	}
	.TwoToRight {
		grid-column: 3 / span 6;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.contained-FirstOne {
		grid-column: 2 / span 1;
		padding-left: 2rem;
	}
	.contained-LastFive {
		grid-column: 3 / span 5;
		padding-left: 2rem;
	}
	.containedLeft {
		grid-column: 2 / span 3;
		padding-right: 2rem;
	}
	.containedRight {
		grid-column: 5 / span 3;
		padding-left: 2rem;
	}
	.contained-FirstTwo {
		grid-column: 2 / span 2;
		padding-right: 2rem;
	}
	.contained-LastFour {
		grid-column: 4 / span 4;
		padding-left: 2rem;
	}
}

// The content within the sections
// SectionImage
// SectionIntro
// SectionContent
// container - for single block of content
.sectionImage {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	// Min height so when the columns break for small phones the image still shows
	min-height: 400px;
}
.container:not(.no-padding), .sectionIntro, .sectionContent {
	// border: 1px solid blue;
	padding-top: 2rem;
	padding-bottom: 2rem;
	@media (min-width: 900px) {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
}

// ***********CUSTOM TWEAKS FOR INDIVIDUAL SECTIONS
// ----- ABOUT PAGE
.whatWeDo {
	.containedRight div:first-of-type {
		padding-left: 3.5rem;
	}
}
.visionMission {
	.contained-LastFour {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
}
.itsWorking .containedLeft {
	display: flex;
		flex-direction: column;
		justify-content: center;
}
.goal, .howWeDoIt {
	aside {
		margin-top: 4rem;
	}
}
.relatedLinksRow {
	aside {
		margin-left: 0;
	}
}
// -----SINGLE POST PAGE

.singlePost {
	.postWrap {
		display: grid;
		grid-template-columns: 2fr 5fr;
	}
}

// ----- PROGRAMS PAGE (TRAINING)
.trainingMethodTitle {
	.contained-LastFour {
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.learnerPortal {
	.contained-LastFour {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.programList {
	.leftToCenter {
		display: flex;
		flex-direction: column;
		justify-content: center;
		@media (min-width: 900px) {
			grid-row: -1;
		}
	}
	.sectionIntro {
		background-color: #ffffff;
		padding-left: 2rem;
		@media (min-width: 900px) {
			padding-left: 4rem;
			grid-row: -1;
		}
	}
}