// main wrap
main.content {
	background: $brandContrastLight;
	margin: 0;
	padding: 0;
	position: relative;
}

// page content wrap - exists to give individual pages a wrapping class
.page {
	margin: 0;
	padding: 0;
}

// sections inside pages
section {
	padding: 0;
	margin: 0;
	position: relative;
}

// The hero map on stories page
section.hero.geoLocatedStories {
	height: 100vh;
	margin-top: -99px;
	margin-left: -1px;
}

// containers inside sections allow for setting the max width of section
.container {
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
	padding: 0;
	// This container takes up full screen
	&.max-container {
		max-width: 100%;
		padding: 0;
	}
}

// Stories page and Single-Post have sidebar
.stories  {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-auto-rows: 1fr;
}

// ------- Page Section Layouts
// Layout: program.html
.program section {
	// The z-index is important for the book shadows on curriculum pages
	z-index: 1;
}
.pageSection {
	// Alternate the background color
	&:nth-child(even) {
		background: #ffffff;
	}
	.container {
		// ------- Default styles (Small screens)
		// The container is display block by default - not a grid
		// The content blocks: Most sections wll have one or any of: intro, content and image
		.sectionIntro, .sectionContent {
			padding: 30px;
		}
		.sectionImage {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			min-height: 400px;
			&.contain {
				background-size: contain;
			}
		}
		// -------large screens
		@media #{$mid-point} {
			// Default two column layout
			display: grid;
			grid-column-gap: 60px;
			grid-template-columns: 1fr 1fr;
			// Content blocks have bigger padding on large screens
			.sectionIntro, .sectionContent {
				padding: 120px 0;
			}
			// max-content - basically col-1 : when i want a single column even on a large screen
			&.max-content {
				display: block;
			}
			// container column settings
			&.col-1-4 {
				grid-template-columns: 1fr 4fr;
			}
			&.col-3-2 {
				grid-template-columns: 3fr 2fr;
			}
			&.col-1-3 {
				grid-template-columns: 1fr 3fr;
			}
			&.col-2-3 {
				grid-template-columns: 2fr 3fr;
			}
			&.col-2-5 {
				grid-template-columns: 2fr 5fr;
			}
			&.col-3-2 {
				grid-template-columns: 3fr 2fr;
			}
			&.col-1-1-1 {
				grid-template-columns: 1fr 1fr 1fr;
			}
			&.col-1-1-1-1 {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
		}
		// We sometimes need a full width column
		&.max-container {
			// --------When the container is stretched to full width on large screens
			@media #{$mid-point} {
				grid-gap: 0;
				.sectionIntro, .sectionContent {
					padding: 120px 60px;
				}
			}
		}
	}
	&.videoPlayer {
		.container {
			@media #{$mid-point} {
				padding-top: 60px;
				padding-bottom: 60px;
				display: grid;
				grid-template-columns: 1fr 6rem 1fr;
				grid-gap: 1rem;
			}
		}
	}
	// Display the little article link as a grid.
	.relatedArticles {
		@media #{$mid-point} {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin: 0 0 30px 0;
		}
	}
	// The transformation author pics cause horizontal scroll on small screens
	// overflow hidden for small screens
	&.featuredStories {
		@media #{$below-mid-point} {
			overflow: hidden;
		}
	}
	&.trainingMethodTitle {
		.sectionContent {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
	&.learnerPortal {
		padding-top: 60px;
	}
}