// Google Maps
.geoLocatedStories {
	height: 100vh !important;
	box-sizing: border-box;
	// max-height: 100vh !important;
	// min-height: unset;
	margin-top: -100px;
	.container {
		grid-row: 1;
	}
	#map-canvas {
		grid-row: 1;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}
.googleMapWrap {
	min-height: 600px;
	#markerLayer div[style*="width: 30px"] {
		// border: 1px solid red;
		overflow: visible !important;
		img {
			width: 30px !important;
			height: 30px !important;
		}
	}
	#markerLayer div[style*="width: 30px"]:after {
		content: "";
		box-sizing: border-box;
		position: absolute;
		width:30px;
		height:30px;
		border:1px solid $brand-color;
		border-radius:50%;
		animation: pulse 2s infinite;
	}
	@keyframes pulse {
	  0% {
		transform: scale(0.9);
		opacity: 1;
	  }
	  100% {
		transform: scale(2);
		opacity: 0;
	  }
	}
	.gmnoprint {
		display: none;
	}
	.infoWrap {
		max-width: 300px;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 1fr;
		.locationInfo {
			h4 {
				font-size: 1.1rem;
				margin-bottom: 1rem;
			}
			p {
				margin-bottom: 0;
				font-size: 0.9rem;
			}
		}
		.locationImage {
			background-size: cover;
			background-position: center center;
			a {
				box-sizing: border-box;
				display: grid;
				place-items: center;
				position: absolute;
				right: -18px;
    			bottom: -18px;
				width: 80px;
				height: 80px;
				border-radius: 50%;
				text-decoration: none;
				border: 1px solid $brand-color;
				background-color: $sphere3BG;
				padding: 10px;
				transition: all 0.3s cubic-bezier(.25,.8,.25,1);
				transform: scale(1);
				&:hover {
					box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
					transform: scale(1.1);
				}
				div.mapsphere2 {
					position: relative;
					box-sizing: border-box;
					display: grid;
					place-items: center;
					width: 100%;
					height: 100%;
					border-radius: 50%;
					border: 1px solid $brand-color;
					background-color: $sphere2BG;
					padding: 10px;
				}
				div.mapsphere1 {
					box-sizing: border-box;
					display: grid;
					place-items: center;
					width: 100%;
					height: 100%;
					border-radius: 50%;
					border: 1px solid $brand-color;
					background-color: $sphere1BG;
				}
				svg {
					stroke: #ffffff;
					stroke-width: 2px;
				}
			}
		}
	}
}