// MOBILE SCREENS - DEFAULT STYLES
#mainHeader {
    * {
        box-sizing: border-box;
    }
    box-sizing: border-box;
    height: 100px;
    width: 100vw;
    height: 100vh;
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 40px 1fr 40px;
    grid-template-areas:
    "links links links"
    "space space space"
    "actions actions actions";
    pointer-events: none;
    color: rgba(0,0,0,0.7);

    #logoWrap {
        display: none;
        padding: 8px;
        background-color: $brand-color;
    }
    #topLevel {
        background-color: $brand-color;
        grid-area: links;
        pointer-events: all;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            button, a {
                border: none;
                text-decoration: none;
                background: transparent;
                color: inherit;
                font-size: 1rem;
                display: flex;
                padding: 16px;
                svg {
                    width: 20px;
                }
            }
        }
    }
    #actions {
        grid-area: actions;
        pointer-events: all;
        padding: 0 8px;
        background-color: $brand-color;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            margin: 0;
            padding: 0;
            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border: 1px solid white;
                text-decoration: none;
                background: transparent;
                color: inherit;
                font-size: 11px;
                height: 40px;
                &.primary {
                    background-color: $brand-color;
                    color: #000000;
                }
                svg {
                    width: 20px;
                }
            }
        }
    }
    .spacer {
        background: rgba(255,255,255,0.5);
        grid-area: space;
        pointer-events: none;
        display: none;
    }

    .subnav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1001;
        overflow-y: scroll;
        padding: 2rem;
        transform-origin: center top;
        transform: scaleY(0);
        .subnavContainer {
            height: 200vh;
        }
    }
}

// LARGE SCREENS
#mainHeader {
    @media (min-width:700px) {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 100%;
        grid-template-areas: "logo links actions";
        height: fit-content;
        #logoWrap {
            pointer-events: all;
            grid-area: logo;
            display: block;
            height: 100px;
            .logo {
                height: 100%;
            }
        }
        #topLevel{
        }

        #actions {
            display: flex;
            ul{
                justify-content: flex-end;
                li {
                    margin-left: 8px;
                    a {
                        font-size: 1rem;
                        height: auto;
                        padding: 8px 16px;
                        svg {
                            display: none;
                        }
                    }
                }
            }
        }
        .spacer {
            display: none;
        }
    }
}