$animatedLogoWidth: 200px;
$sphere1Width: 300px;
$sphere2Width: 400px;
$sphere3Width: 500px;
$networkWidth: 600px;
$planetWidth: 500px;
$glow1Width: 600px;
$glow2Width: 700px;
$glow3Width: 800px;
$textContainerWidth: 800px;