// This is the css for scrollytelling section on the frontpage

// ONLY USED ON LANDING SCENE FOR HOME PAGE
@font-face {
    font-family: 'HelveticaUltraCompressed';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/HelveticaLTStd-UltraComp.otf);
}

// SCROLLYTELLING BODY WRAP FROM HERE
#scrollyTellingWrap main {
    background-color: transparent;
    pointer-events: none;

    /* -----------DEFAULTS ACROSS ALL SCENES*/
    .hideToStart {
        visibility: hidden;
        display: block;
    }
    section {
        border-bottom: 1px solid blue;
        height: calc(100vh - 65px);
        .textContainer {
            border: 1px solid red;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            .sectionHeading {
                border: 1px solid green;
                strong {
                    font-weight: 400;
                }
                text-align: center;
                font-weight: 300;
                // If the heading contains a span then I may be animating it
                span{
                    text-align: center;
                    display: block;
                }
            }
        }
    }
    /* -----------INTRO SECTION - TOP NAV AND HERO*/
    header.mainNavigation {
        background-color: transparent;
        background-image: none;
        .nav-link > a {
            color: #ffffff;
        }
    }
    .hero {
        box-sizing: border-box;
        height: 100vh;
        margin-top: -100px;
        overflow: hidden;
        padding: 0;
        video{
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            top: 0;
            left: 0;
            display: block !important;
            grid-row: 1;
        }
        .introWrapper {
            padding-right: 2rem;
            z-index: 10;
            grid-row: 1;
            grid-column: 2 / span 7;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            overflow: visible;
            .ctaWrapper {
                padding: 0.5rem 0.6rem;
                border-radius: 5px;
                background: rgba(0, 0, 0, 0.3);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                border: 0.5px solid rgba(255,255,255,0.3);
                margin-bottom: 1rem;
                margin-right: 4px;
                .ctaTitle {
                    font-size: 1.7rem;
                    color: #ffffff;
                    margin-right: 1rem;
                }
                .ctaBtn {
                    margin: 0;
                    pointer-events: all;
                    background: $brand-color;
                    height: 2.5rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0 1rem;
                }
            }
            .introHeadline {
                perspective: 100px;
                h1 {
                    text-align: right;
                    color: #ffffff;
                    color: white;
                    font: normal 6rem "HelveticaUltraCompressed",Arial,Helvetica,sans-serif;
                    text-transform: uppercase;
                    line-height: 1;
                    letter-spacing: 2px;
                    transform-style: preserve-3d;
                    margin-bottom: 0;
                }
            }
        }
    }
    

}
// END scrollytelling wrap