body#theoryOfChange {
    // position: relative;
    background-color: $brandContrastLight;
    * {
        box-sizing: border-box;
    }
    section {
        width: 100vw;
        padding: 0;
        display: grid;
        align-items: center;
        overflow: hidden;
        grid-template-columns: 60px 1fr;
        grid-template-areas: "flowchart title" "flowchart img";
        &:nth-child(even) {
            background-color: #ffffff;
        }
        .flowChart {
            grid-area: flowchart;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            // border: 1px solid red;
            height: 100%;
            svg {
                height: 100%;
                stroke-width: 4px;
                stroke: $brand-color;
                position: absolute;
            }
            .number {
                position: absolute;
                top: 22px;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $brand-color;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 26px;
                font-weight: 900;
            }
        }
        .titleWrap {
            grid-area: title;
            padding-right: 2rem;
            .sectionTitle.priority2 {
                border: none;
                padding-left: 0;
                margin: 0;
            }
            ul {
				list-style-type: none;
				list-style-position: outside;
				padding: 0;
			}
			li {
				margin-bottom: 1rem;
				position: relative;
				padding-left: 2rem;
				line-height: 1.5;
				&:before {
					content: "";
					width: 15px;
					height: 7px;
					background: $brand-color;
					display: block;
					position: absolute;
					top: 9px;
					left: 0;
				}
			}
        }
        .imageWrap {
            padding: 0 2rem 2rem 0;
            grid-area: img;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    // LARGER SCREENS SECTION LAYOUTS
    @media (min-width:700px) {
        section {
            grid-template-columns: 1fr 60px 1fr;
            grid-template-areas: "left flowchart right";
            .titleWrap {
                grid-area: left;
                padding: 3rem 0 3rem 3rem;
            }
            .imageWrap {
                grid-area: right;
                padding: 0;
                padding: 3rem 3rem 3rem 0;
            }
        }
    }

    #intro, #end {
        display: block;
        text-align: center;
        .titleWrap {
            padding: 2rem;
            max-width: 700px;
            margin: 0 auto;
        }
        .imageWrap {
            padding: 0;
        }
    }

    .planetWrap {
        position: relative;
        width: 100%;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        .planet {
            width: 100%;
            aspect-ratio: 1 / 1;
            position: absolute;
            background: #8ab5c8;
            border-radius: 50%;
            box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #39424a, inset -20px 0 80px #414750, inset 20px 0 300px #39424a, inset -20px 0 300px #06b3f7, 0 0 50px #fff, -10px 0 80px #39424a, 10px 0 80px #064388;
            background-image: url(https://res.cloudinary.com/sonya-ninja/image/upload/f_auto,q_auto:eco/v1635047047/emit/images/theory-of-change/worldMapAnnaTransformation_spabbj.png);
            background-size: auto 200%;
            background-repeat: no-repeat;
            background-position: 20% 85%;
        }
        .networkAnimated {
            max-width: unset;
            width: 125%;
            z-index: 2;
        }
        .line {
            position: absolute;
            height: 40%;
            bottom: 0;
        }
    }

}
