$brand-color: #abe116;
$brand-color-2: #99ca13;
$default-hero-image: "/images/hero/box-top.jpg";

// ----------COLOR VARIABLES
// $brand: #abe116;
// $primary: #abe116;
// $brandDarker: #99ca13;
// $brandLighter: #bbfd02;

// ---Colors for Backgrounds
// Dark Brown backgrounds
$brandContrastDark: #272c33;
$brandContrastDarkest: #1c2127;
// Pale grayish-blueish backgrounds
$brandContrastLight: #EDF5F9;
$brandContrastLight2: #e0e8ea;
$brandContrastLight3: #BCC4C6;
$brandContrastLight4: #A5ABAD;

// Breakpoints
$tablet: "(min-width: 450px)";
$above-tablet: "(min-width: 550px)";
$mid-point: "(min-width: 850px)";
$below-mid-point: "(max-width: 849px)";
$desktop: "(min-width: 768px)";
