---
layout: default
---

<section id="{{page.sku}}" class="item--full product-container product">
		<div class="sectionIntro contained-FirstTwo">
			<div class="imageWrap">
				<a class="productImage" href="{{ product.url }}">
					<img src="{{ site.baseurl }}{{ page.product_image }}">
				</a>
				{% assign share_url = page.url | absolute_url | cgi_escape %}
				{% assign page_name = page.name %}
				<div class="links a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="{{share_url}}" data-a2a-title="{{page_name}}">
					<a class="a2a_dd" href="https://www.addtoany.com/share">
						<span class="icon"><i data-feather="share-2"></i></span>
					</a>
				</div>
				<script>
                    var a2a_config = a2a_config || {};
                    a2a_config.onclick = 1;
                    a2a_config.icon_color = "transparent";
                    </script>
                    <script async src="https://static.addtoany.com/menu/page.js"></script>
                    <!-- AddToAny END -->
			</div>
		</div>
		<div class="product-details sectionContent contained-LastFour" id="add">
			<h3>{{ page.name }}</h3>
			<div class="inCartNotification">
				<span class="icon"><i data-feather="check"></i></span>In Cart
			</div>
			{{ page.description_html | markdownify }}
			<div class="priceWrap">
				{% for currency in site.data.currencies %}
					<div class="productCurrency {{ currency.code }} {% if currency.default == true %} activePrice {% endif %} "><span>{{ currency.symbol }}</span>{{ page.price_usd | times: currency.rateToUSD | round: 0 }}</div>
				{% endfor %}
			</div>
			<div class="actionRow">
				<a class="button" href="/donate">BACK</a>
				{% include snipcart-button.html product=page %}
				<button class="button primary snipcart-checkout"><span class="icon"><i data-feather="shopping-cart"></i></span>Open Cart</button>
			</div>
		</div>
</section>